Fabric==1.4.3
Flask==0.9
Flask-Assets==0.8.dev
Flask-DebugToolbar==0.7.1
Flask-Jasmine==1.3a
Flask-Login==0.1.3
Flask-MongoKit==0.6
Flask-Script==0.5.1
Flask-WTF==0.8
GnuPGInterface==0.3.2
Jinja2==2.6
PyUnit==1.4.1
Testingbot==0.0.2
WTForms==1.0.2
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.3
apt-xapian-index==0.44
argparse==1.2.1
billiard==2.7.3.17
blinker==1.2
boto==2.6.0
celery==3.0.11
chardet==2.1.1
command-not-found==0.2.44
datrie==0.4.2
distribute==0.6.28
gevent==0.13.8
greenlet==0.4.0
httplib2==0.7.6
ipython==0.13
kombu==2.4.7
language-selector==0.1
meld3==0.6.9
mongokit==0.8.1
ngram==3.3.0
nose==1.2.1
oauth2==1.5.211
pycrypto==2.6
pymongo==2.3
python-apt==0.8.3ubuntu7
python-dateutil==2.1
python-debian==0.1.21ubuntu1
pytz==2012f
redis==2.7.1
requests==0.14.1
selenium==2.25.0
six==1.2.0
ssh==1.7.14
supervisor==3.0b1
trie==0.1.1
ufw==0.31.1-1
ujson==1.22
validictory==0.8.3
virtualenv==1.8.2
webassets==0.8.dev
wsgiref==0.1.2
