<h1>{{t "about.title"}}</h1>
<div class="about">
    <p>Мы&nbsp;любим радио.</p>
    <p>В&nbsp;мире много радиостанций с&nbsp;хорошей музыкой и&nbsp;без рекламы.<br />
    Поэтому мы&nbsp;собираем, проверяем и&nbsp;раскладываем по&nbsp;жанрам любительские станции.</p>
    <p>После регистрации, любимые станции и&nbsp;треки по желанию добавляются в&nbsp;личное избранное.</p>
    <p>Эгейн родился в&nbsp;2011, а&nbsp;запустился через год.</p>
</div>
<fieldset><legend>над проектом работали</legend></fieldset>
<table class="about" width="100%">
    <tr>
        <td colspan="2">
            <p>Юрий Корженевский</p>
            <p class="role">идея и разработка</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Роман Золоторевич</p>
            <p class="role">пользовательский интерфейс и дизайн</p>
        </td>
        <td valign="top">
            <a href="http://www.zolotorevich.com/">www.zolotorevich.com</a>
        </td>
    </tr>
</table>
<div class="close"></div>