<li>
    {{#if title}}
        {{! текст }}
        <span{{#if active}} class="active"{{/if}}>{{ title }}</span>
    {{else}}
        {{! иконка }}
        <span class="icon-selector {{ class }}-selector{{#if active}} {{ class }}-active{{/if}}"></span>
    {{/if}}
</li>