<ul class="line1">
    <li style="left:45%">{{t "display.empty_favorites.title"}}</li>
</ul>
<ul class="line2">
    <li style="left:32%">{{t "display.empty_favorites.hint"}}</li>
</ul>
<ul class="line3"></ul>
<ul class="line4"></ul>
