<div class="form-holder {{class}}">
    <div class="wrapper-left">
        <div class="wrapper-left-content">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="wrapper-right">
        <div class="wrapper-right-content">
            {{&content}}
            <div class="close-box hidden">
                <div class="close"><span class="pseudo-link">{{t "topholder.cancel" }}</span></div>
            </div>
        </div>
    </div>
</div>