<div class="user-favorites" data-title="{{t "favorites.title" }}">
{{#if showHelp}}
<div class="help">
    <p>{{t "favorites.helptext1" }}</p>
    <img src="{{static_url "i/radionow.png"}}" width="386" height="100" alt=": )" />
    <p>{{t "favorites.helptext2" }}</p>
</div>
{{/if}}
</div>