<form class="head-form amnesia" data-title="{{t "amnesia.title" }}">
    <div class="form-input">
        <input type="text" tabindex="30" class="input" name="email" placeholder="{{t "amnesia.placeholder" }}" />
    </div>
    <input type="submit" class="button" tabindex="31" disabled="disabled" value="{{t "amnesia.button" }}" />
    <p class="notice">{{t "amnesia.notice" }}</p>
</form>