/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.display-sprite, .filters .home-link { background: url('/static/i/display-s8cac1b263b.png') no-repeat; }

.controls-sprite, .radio-control-play, .radio-control-prev, .radio-control-next, .radio-control-slider .ui-slider-handle, .radio-control-sound, .radio-control-sound-off { background: url('/static/i/controls-s29047d2556.png') no-repeat; }

.profile-sprite, .form-holder .close-box, .user-profile .logout, .user-profile .logout:hover, .user-profile .content .favorites, .user-profile .content .history, .user-profile .content .settings { background: url('/static/i/profile-scd9fd58c51.png') no-repeat; }

.bbstar-sprite, .radio-now .star, .radio-now .star:hover, .radio-now .star-selected, .radio-now .star-selected:hover { background: url('/static/i/bbstar-sd4949568f3.png') no-repeat; }

.checkbox-sprite, .user-settings .checkbox, .user-settings .checkbox[data-checked], .user-settings .checkbox[data-disabled] { background: url('/static/i/checkbox-sa2a751b568.png') no-repeat; }

html, body { height: 100%; }

body { background: #111111; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2e31), color-stop(100%, #000000)); background: -webkit-linear-gradient(#2a2e31, #000000); background: -moz-linear-gradient(#2a2e31, #000000); background: -o-linear-gradient(#2a2e31, #000000); background: -ms-linear-gradient(#2a2e31, #000000); background: linear-gradient(#2a2e31, #000000); font-size: 1em; line-height: 1.2em; color: white; font-family: Helvetica, Arial, sans-serif; }

button, input, select, textarea, p { font-size: 0.8em; line-height: 1.4em; color: white; }

input[disabled], button[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65); opacity: 0.65; }

.hidden { display: none; }

/*.logo visibility: hidden */
.pseudo-link { cursor: pointer; font-size: 0.8em; text-decoration: underline; color: #999999; }
.pseudo-link:hover { color: #fe7b2c; }

a:link { color: #999999; }
a:visited { color: #666666; }
a:active, a:hover { color: #fe7b2c; }
a.fm { text-decoration: none; border-bottom: 1px #999999 dotted; text-shadow: 1px 1px 0px black; }
a.fm:link { color: #999999; }
a.fm:visited { color: #666666; border-color: #666666; }
a.fm:active, a.fm:hover { color: #fe7b2c; border-color: #fe7b2c; }
a.logo { line-height: 0px; height: 0px; font-size: 0px; border: none; }

.wrapper { background-image: url("../i/background_pattern.png"); position: relative; min-height: 100%; }

.main { padding-bottom: 5em; }

.wrapper-left { overflow: hidden; float: left; width: 500px; height: 340px; }

.wrapper-left, .wrapper-right { padding-top: 40px; }

.wrapper-left-content { margin-left: 10%; }
.wrapper-left-content .logo { margin-left: 40px; }

.wrapper-right { overflow: hidden; height: 340px; }

.wrapper-right-content { margin: 45px 0 20px 0; }

.head-form { top: 86px; overflow: hidden; }
.head-form input[type=text], .head-form input[type=password] { width: 185px; }
.head-form input[type=submit] { width: 70px; }
.head-form a, .head-form label, .head-form p { font-size: 0.8em; line-height: 1.6em; }
.head-form .notice p { margin-left: 13px; clear: both; color: #666666; }
.head-form .notice-error p { color: #cb0101; }
.head-form .notice-ok p { color: #7ad81c; }

.wrapper-wide { width: 100%; overflow: hidden; clear: both; }

.wrapper-right .head-form, .wrapper-right .box-holder { width: 500px; margin: 0 auto; }

.box-holder { overflow: hidden; height: 70px; }

.form-holder { background-color: black; width: 100%; height: 200px; position: absolute; top: 0px; left: 0px; margin-top: -200px; display: none; z-index: 1000; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2e31), color-stop(100%, #000000)); background: -webkit-linear-gradient(#2a2e31, #000000); background: -moz-linear-gradient(#2a2e31, #000000); background: -o-linear-gradient(#2a2e31, #000000); background: -ms-linear-gradient(#2a2e31, #000000); background: linear-gradient(#2a2e31, #000000); }
.form-holder .wrapper-left h1 { font-size: 3.5em; line-height: 2em; }
.form-holder .close-box { bottom: -48px; right: 63%; padding-top: 16px; position: absolute; background-position: 0 -26px; }
.form-holder .close-box .close { -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; -khtml-border-radius: 15px; border-radius: 15px; height: 32px; width: 32px; cursor: pointer; }

.input { background-color: #666666; height: 30px; border: none; margin: 0; border-radius: 5px; padding-left: 12px; outline: none; }

input[type=submit] { height: 32px; margin: 0px; padding: 0px; border: 1px solid #333333; color: #333333; border-radius: 5px; background-color: #666666; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #9b9b9b)); background: -webkit-linear-gradient(#c4c4c4, #9b9b9b); background: -moz-linear-gradient(#c4c4c4, #9b9b9b); background: -o-linear-gradient(#c4c4c4, #9b9b9b); background: -ms-linear-gradient(#c4c4c4, #9b9b9b); background: linear-gradient(#c4c4c4, #9b9b9b); text-shadow: 0px 1px 0px #cfcfcf; font-weight: bold; text-align: center; float: left; }

input[type=submit]:hover { -moz-box-shadow: rgba(252, 102, 34, 0.4) 0px 1px 1px 1px; -webkit-box-shadow: rgba(252, 102, 34, 0.4) 0px 1px 1px 1px; -o-box-shadow: rgba(252, 102, 34, 0.4) 0px 1px 1px 1px; box-shadow: rgba(252, 102, 34, 0.4) 0px 1px 1px 1px; }

.loading { margin-left: 10px; }

.form-input { width: 200px; float: left; margin-right: 10px; }
.form-input .pseudo-link, .form-input label { display: inline-block; margin-left: 13px; }
.form-input label.error, .form-input input.error { color: #ab0101; }
.form-input label.valid, .form-input input.valid { color: #7ad81c; }

.amnesia input[type=text] { width: 280px; }
.amnesia input[type=submit] { width: 100px; }
.amnesia .form-input { width: 290px; }
.amnesia .notice a { font-size: 1em; color: #03cbfd; }
.amnesia .notice strong { color: white; }

.amnesia-holder h1 { font-size: 3.2em !important; line-height: 2.2em !important; }

.radio-controls { margin-left: 55px; margin-top: 40px; }

.radio-control { float: left; padding: 0 5px; }
.radio-control span { display: inline-block; }

.radio-controls-status { clear: both; width: 255px; margin-left: 50px; }
.radio-controls-status .inner { margin-top: 4px; }

.radio-control-play { width: 96px; height: 96px; -moz-border-radius: 46px; -webkit-border-radius: 46px; -o-border-radius: 46px; -ms-border-radius: 46px; -khtml-border-radius: 46px; border-radius: 46px; background-position: 0 -142px; }
.radio-control-play:active, .radio-control-play.play_active, .radio-control-play.play-active { background-position: 0 -238px; }

.radio-control-prev, .radio-control-next { width: 71px; height: 71px; -moz-border-radius: 30px; -webkit-border-radius: 30px; -o-border-radius: 30px; -ms-border-radius: 30px; -khtml-border-radius: 30px; border-radius: 30px; }

.radio-control-prev { background-position: 0 -334px; }
.radio-control-prev:active, .radio-control-prev.pre_active, .radio-control-prev.pre-active { background-position: 0 -405px; }

.radio-control-next { background-position: 0 0; }
.radio-control-next:active, .radio-control-next.next_active, .radio-control-next.next-active { background-position: 0 -71px; }

.radio-control-valign { padding-top: 15px; }

.radio-control-slider { float: left; width: 100px; height: 9px; background-color: #030404; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #030404), color-stop(100%, #1f2224)); background: -webkit-linear-gradient(#030404, #1f2224); background: -moz-linear-gradient(#030404, #1f2224); background: -o-linear-gradient(#030404, #1f2224); background: -ms-linear-gradient(#030404, #1f2224); background: linear-gradient(#030404, #1f2224); /* FF3.6+ border: none */ position: relative; text-align: left; border-radius: 4px; margin: 3px 5px; margin-top: 4px; margin-right: 7px; }
.radio-control-slider .ui-slider-range { left: 0; height: 100%; top: 0; background-position: 0 0; display: block; font-size: 0.7em; position: absolute; border-radius: 4px; padding-left: 4px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4e50), color-stop(100%, #828486)); background: -webkit-linear-gradient(#4d4e50, #828486); background: -moz-linear-gradient(#4d4e50, #828486); background: -o-linear-gradient(#4d4e50, #828486); background: -ms-linear-gradient(#4d4e50, #828486); background: linear-gradient(#4d4e50, #828486); /* FF3.6+ */ }
.radio-control-slider .ui-slider-handle { margin-left: -10px; margin-top: -4px; cursor: default; position: absolute; outline: none; width: 19px; height: 19px; background-position: 0 -476px; }

.radio-control-sound, .radio-control-slider { margin-right: 9px; }

.radio-control-sound { float: left; width: 24px; height: 16px; background-position: 0 -495px; display: none; }

.radio-control-sound-off { background-position: 0 -511px; }

.radio-control-hd { padding-left: 5px; margin-top: -1px; float: left; font-size: 1em; font-weight: bold; color: #666666; color: #71cd15; text-shadow: 0px 0px 2px #71cd15; }

.radio-now { margin: 70px auto 0 auto; clear: both; overflow: hidden; border: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; height: 82px; width: 430px; position: relative; background-image: url("../i/blackberry/nowplaying/background.png"); background-repeat: no-repeat; display: none; }
.radio-now img { margin-top: 2px; margin-left: 2px; border-top-left-radius: 3px; border-bottom-left-radius: 4px; }
.radio-now img .loading { background-image: url("../i/display/loading.png"); background-repeat: no-repeat; display: block; }
.radio-now .star { position: absolute; top: 6px; right: 75px; width: 25px; height: 24px; background-position: 0 0; }
.radio-now .star:hover { background-position: 0 -48px; }
.radio-now .star-selected { background-position: 0 -72px; }
.radio-now .star-selected:hover { background-position: 0 -72px; }

.radio-now-glare { border-top-left-radius: 4px; display: block; height: 80px; width: 80px; left: 1px; top: 2px; position: absolute; background-image: url("../i/blackberry/nowplaying/glare.png"); display: none; }

.radio-now-content { position: absolute; top: 0; left: 80px; padding-left: 20px; padding-top: 0.4em; height: 80px; }
.radio-now-content h1 { font-size: 1.1em; font-weight: bold; line-height: 1.4em; color: white; text-shadow: 1px 1px 0px black; }
.radio-now-content p { font-size: 0.9em; color: #999999; text-shadow: 1px 1px 0px black; }
.radio-now-content h1, .radio-now-content h2, .radio-now-content p { overflow: hidden; max-width: 225px; white-space: nowrap; margin: 0; }
.radio-now-content h2 { margin-top: -0.2em; font-size: 0.8em; text-overflow: ellipsis; }
.radio-now-content p.station { position: absolute; bottom: 0.9em; }

/* content limiter */
.radio-display { -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select: none; }

.radio-display-head { background-image: url("../i/display/background.png"); height: 40px; }

.filters { list-style-type: none; margin: 0; padding: 0; width: 80%; float: left; }
.filters li { float: left; margin: 0; padding: 0; padding-left: 12px; line-height: 40px; }
.filters span { font-size: 12px; color: #999999; cursor: pointer; }
.filters .active { color: #f8d222; text-shadow: 0px 0px 3px #f8d222; }
.filters .home-link { text-indent: -9999px; width: 19px; height: 19px; display: inline-block; top: 5px; position: relative; background-position: 0 0; }
.filters .home-link:hover, .filters .home-link.home_hover, .filters .home-link.home-hover { background-position: 0 -38px; }
.filters .home-link:active, .filters .home-link.home_active, .filters .home-link.home-active { background-position: 0 -19px; }

.radio-display-search { border: 1px solid black; border-radius: 12px; padding-left: 22px; max-width: 306px; top: 10px; right: 12px; position: relative; width: 17%; float: right; }
.radio-display-search input { background-color: transparent; border: none; color: #666666; }

.movable { cursor: move; }

.radio-scale { background: #f8d202; background-image: url("../i/scale/background.png"); background-repeat: repeat-x; height: 200px; position: relative; width: 100%; overflow: hidden; -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 12px 12px inset; -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 12px 12px inset; -o-box-shadow: rgba(255, 255, 255, 0.4) 0 0 12px 12px inset; box-shadow: rgba(255, 255, 255, 0.4) 0 0 12px 12px inset; -moz-user-select: none; -webkit-user-select: none; -khtml-user-select: none; user-select: none; }
.radio-scale .active-station { font-weight: bold; }
.radio-scale .scale-inner { padding: 20px 0; }
.radio-scale .scale-slider { background-image: url("../i/scale/slider.png"); background-repeat: repeat-y; position: absolute; top: 0; width: 25px; height: 100%; left: -25px; display: none; }
.radio-scale .empty-line { background: none; border-bottom: 1px solid #666666; }
.radio-scale ul { padding: 0; margin: 0; height: 1em; margin-bottom: 30px; background-repeat: repeat-x; background-position: bottom center; background-image: url("../i/scale/line.png"); clear: both; }
.radio-scale ul li { text-shadow: 0px 1px 1px white; float: left; padding: 0 5px; margin: 0 1em; overflow: hidden; white-space: nowrap; margin-top: 1px; background-image: url("../i/scale/background.png"); position: absolute; color: black; cursor: pointer; font-size: 14px; }
.radio-scale .line1 li { background-position: 0 -20px; }
.radio-scale .line2 li { background-position: 0 -66px; }
.radio-scale .line3 li { background-position: 0 -112px; }
.radio-scale .line4 { margin-bottom: 0; }
.radio-scale .line4 li { background-position: 0 -158px; }

.footer { position: absolute; bottom: 0; height: 3em; margin-left: 1.5em; }
.footer .left-shift { margin-left: -1.2em; }
.footer p { line-height: 1.5em; color: #666666; }
.footer .pseudo-link { font-size: 1em; }

#player-container { position: absolute; top: -10000px; left: -10000px; }

.realplexor { display: none; }

#spectrum { position: absolute; top: 190px; height: 176px; width: 100%; left: 0; background-color: transparent; z-index: -10; }

.user-profile { margin-left: 40px; width: 350px; height: 50px; background-color: #414141; border: 1px solid #1d1d1d; position: relative; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; -moz-box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; -webkit-box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; -o-box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; overflow: hidden; }
.user-profile .avatar { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -o-border-top-left-radius: 4px; -ms-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -o-border-bottom-left-radius: 4px; -ms-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; -webkit-box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; -o-box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; box-shadow: rgba(29, 29, 29, 0.6) 0 0 3px 2px inset; position: absolute; top: 0px; left: 0px; float: left; }
.user-profile .logout { display: block; position: absolute; right: 0; top: 0; width: 20px; height: 20px; cursor: pointer; background-position: 0 -95px; }
.user-profile .logout:hover { background-position: 0 -74px; }
.user-profile .content { padding: 6px 0; margin-left: 10px; width: 290px; float: right; }
.user-profile .content p { font-size: 1em; line-height: 1.1em; text-shadow: 0px 1px 1px #111111; }
.user-profile .content .favorites { background-position: 0 0; }
.user-profile .content .history { background-position: 0 -13px; }
.user-profile .content .settings { background-position: 0 -116px; }
.user-profile .content ul { margin-top: 0.4em; }
.user-profile .content ul li { float: left; margin-right: 10px; height: 13px; line-height: 8px; background-repeat: no-repeat; padding-left: 16px; }
.user-profile .content a { font-size: 0.8em; color: white; text-decoration: none; border-bottom: 1px solid white; }

.user-panel { width: 50%; max-width: 700px; background-color: white; background-image: url("../i/favorites/back.jpg"); color: black; position: absolute; z-index: 1500; top: 60px; display: none; border: 1px solid #aaaaaa; padding-bottom: 1em; right: 100px; }
.user-panel p { color: black; }
.user-panel .text { padding-left: 60px; color: black; padding-bottom: 2em; }
.user-panel .close { width: 24px; height: 24px; display: block; position: absolute; right: -45px; top: 0px; background-image: url("../i/favorites/close.png"); background-repeat: no-repeat; cursor: pointer; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; -khtml-border-radius: 15px; border-radius: 15px; }
.user-panel h1 { font-weight: bold; margin-top: 0.5em; font-size: 1.6em; line-height: 2.5em; padding-left: 60px; color: black; }
.user-panel fieldset { padding-top: 5px; padding-left: 60px; border-top: 1px solid #c1c1c1; }
.user-panel legend { padding: 0 4px; font-size: 0.9em; margin-left: -4px; }

.user-favorites { overflow: auto; max-height: 480px; }
.user-favorites .help { text-align: center; margin: 1em 0 2em 0; }
.user-favorites .help img { margin-top: 2em; margin-bottom: 0.5em; margin-left: 1em; }
.user-favorites .help p { font-size: 0.95em; font-weight: bold; }
.user-favorites table { width: 100%; background-image: url("../i/favorites/back.jpg"); margin-bottom: 1em; }
.user-favorites tr { border: 1px solid transparent; }
.user-favorites tr:hover .state { text-indent: -2000px; background-image: url("../i/bbstar/star-selected.png"); background-position: center center; background-repeat: no-repeat; background-color: white; }
.user-favorites tr:hover td { background-color: white; }
.user-favorites .deleted:hover .state { background-image: url("../i/bbstar/star-deleted.png"); }
.user-favorites .deleted h2 { text-decoration: line-through; }
.user-favorites td { padding: 0.5em 0; cursor: pointer; }
.user-favorites .state { width: 60px; text-align: center; color: #999999; font-size: 0.9em; }
.user-favorites h2, .user-favorites h3 { line-height: 1.2em; }
.user-favorites h2 { font-weight: bold; }
.user-favorites h3 { color: #999999; font-size: 0.9em; }
.user-favorites h2, .user-favorites p, .user-favorites dl { color: black; }

.user-settings p { color: black; font-size: 1em; }
.user-settings input { color: black; font-size: 1em; border: 1px solid #cccccc; padding: 2px 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
.user-settings button { color: white; border: 1px solid #cccccc; font-size: 1em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb5504), color-stop(100%, #c14d03)); background: -webkit-linear-gradient(#eb5504, #c14d03); background: -moz-linear-gradient(#eb5504, #c14d03); background: -o-linear-gradient(#eb5504, #c14d03); background: -ms-linear-gradient(#eb5504, #c14d03); background: linear-gradient(#eb5504, #c14d03); }
.user-settings label { display: inline-block; margin-left: 9px; cursor: pointer; }
.user-settings small { font-size: 0.9em; color: #666666; display: block; cursor: default; }
.user-settings li { font-size: 0.9em; padding-left: 60px; margin-bottom: 1em; }
.user-settings .checkbox-shift li { padding-left: 35px; }
.user-settings .checkbox { height: 16px; width: 16px; display: block; float: left; clear: left; margin-top: 0.14em; cursor: pointer; background-position: 0 -16px; }
.user-settings .checkbox[data-checked] { background-position: 0 0; }
.user-settings .checkbox[data-disabled] { cursor: default; background-position: 0 -32px; }
.user-settings .pseudo-link { font-size: 1em; color: #3366cc; margin: 0 0.2em 0.1em; }
.user-settings .delete-account { margin: 0; }
.user-settings strong { font-weight: bold; }

.about-box { text-align: center; color: black; font-weight: 0.9em; margin: auto 25%; width: 50%; }
.about-box .pseudo-link { color: black; font-size: 1em; font-weight: bold; }
.about-box img { margin-top: 3px; }
.about-box p { font-size: 0.9em; color: black; }
.about-box dl { margin-bottom: 0.3em; overflow: hidden; }
.about-box dt, .about-box dd { font-size: 0.9em; line-height: 1.4em; }
.about-box dt { text-align: right; float: left; width: 50%; }
.about-box dd { font-weight: bold; width: 49%; text-align: left; float: right; }

.scroller { position: absolute; z-index: 1; }

.radio-scroll { position: absolute; width: 100%; }
.radio-scroll .overview { position: absolute; }
.radio-scroll .scrollbar { position: relative; float: right; width: 15px; }
.radio-scroll .track { margin-top: -10px; background-color: #d8eefd; height: 100%; width: 13px; position: relative; display: none; }
.radio-scroll .thumb { background-color: black; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; height: 7px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.radio-scroll .disable { display: none; }

.feedback { position: absolute; top: 0; left: 0; height: 100px; width: 300px; }

.feedback-inner { position: relative; padding: 10px; color: white; background-color: #f3f3f3; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
.feedback-inner:after { content: ""; position: absolute; bottom: -20px; left: 20px; border-width: 20px 10px 0 0; border-style: solid; border-color: #f3f3f3 transparent; display: block; width: 0; }
