/* line 23, ../sass/style.sass */
.modal-box {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 31, ../sass/style.sass */
.modal {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: 3px solid rgba(37, 37, 35, 0.5);
  background-color: #4b4c5b;
  width: 375px;
  margin: 10% auto;
  padding: 19px;
}
/* line 39, ../sass/style.sass */
.modal h1 {
  font-size: 22px;
  font-weight: normal;
  color: #f3f3f4;
  line-height: 1em;
  margin: 0;
  margin-bottom: 30px;
}
/* line 47, ../sass/style.sass */
.modal .field {
  border: 1px solid #505160;
  color: #686975;
  padding: 15px 0;
  text-indent: 13px;
  outline: none;
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f404f), color-stop(100%, #454757));
  background: -webkit-linear-gradient(#3f404f, #454757);
  background: -moz-linear-gradient(#3f404f, #454757);
  background: -o-linear-gradient(#3f404f, #454757);
  background: linear-gradient(#3f404f, #454757);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 58, ../sass/style.sass */
.modal .button {
  border: 1px solid #6fbccc;
  padding: 4px 9px;
  color: white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #59b1c4), color-stop(100%, #39a2b8));
  background: -webkit-linear-gradient(#59b1c4, #39a2b8);
  background: -moz-linear-gradient(#59b1c4, #39a2b8);
  background: -o-linear-gradient(#59b1c4, #39a2b8);
  background: linear-gradient(#59b1c4, #39a2b8);
}
/* line 65, ../sass/style.sass */
.modal .header {
  position: relative;
}
/* line 67, ../sass/style.sass */
.modal .header .close {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 0;
  width: 17px;
  height: 17px;
  background-image: url("/static/i/close.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 76, ../sass/style.sass */
.modal .header .close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 79, ../sass/style.sass */
.modal .line {
  border: 0;
  border-top: 1px solid #545563;
  border-bottom: 1px solid #40414e;
  margin: 20px -19px;
}
/* line 85, ../sass/style.sass */
.modal .field {
  margin-bottom: 9px;
}
/* line 88, ../sass/style.sass */
.modal .button {
  padding: 10px 13px;
}
/* line 91, ../sass/style.sass */
.modal .controls {
  position: relative;
}
/* line 93, ../sass/style.sass */
.modal .controls .amnesia {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 99, ../sass/style.sass */
.modal form.ng-dirty input.ng-invalid {
  color: #ff6f7d;
  border: 1px solid #963841;
}

/* line 103, ../sass/style.sass */
.centroid {
  width: 980px;
  margin: 0 auto;
}

/* line 107, ../sass/style.sass */
.login {
  display: inline;
}
/* line 110, ../sass/style.sass */
.login .field {
  width: 110px;
  border: 1px solid #696a75;
  color: #dcdcde;
  padding: 4px 9px;
  margin-right: 9px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c4e5d), color-stop(100%, #484955));
  background: -webkit-linear-gradient(#4c4e5d, #484955);
  background: -moz-linear-gradient(#4c4e5d, #484955);
  background: -o-linear-gradient(#4c4e5d, #484955);
  background: linear-gradient(#4c4e5d, #484955);
  -webkit-box-shadow: #4b4a56 0 0 0px 1px inset;
  -moz-box-shadow: #4b4a56 0 0 0px 1px inset;
  box-shadow: #4b4a56 0 0 0px 1px inset;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 119, ../sass/style.sass */
.login .field:focus {
  outline: none;
}
/* line 122, ../sass/style.sass */
.login .button {
  border: 1px solid #519fae;
  padding: 4px 9px;
  color: white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68acb9), color-stop(100%, #3892a3));
  background: -webkit-linear-gradient(#68acb9, #3892a3);
  background: -moz-linear-gradient(#68acb9, #3892a3);
  background: -o-linear-gradient(#68acb9, #3892a3);
  background: linear-gradient(#68acb9, #3892a3);
}

/* line 130, ../sass/style.sass */
.topmenu a, .roof a {
  border-bottom: 1px dashed #a49ca3;
}

/* line 133, ../sass/style.sass */
.roof {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 980px;
}
/* line 137, ../sass/style.sass */
.roof .logo {
  margin-left: -2px;
}

/* line 140, ../sass/style.sass */
.topline {
  border-top: 1px solid #525362;
  border-bottom: 1px solid #24252a;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(78, 77, 92, 0.5)), color-stop(100%, rgba(57, 57, 68, 0.5)));
  background: -webkit-linear-gradient(rgba(78, 77, 92, 0.5), rgba(57, 57, 68, 0.5));
  background: -moz-linear-gradient(rgba(78, 77, 92, 0.5), rgba(57, 57, 68, 0.5));
  background: -o-linear-gradient(rgba(78, 77, 92, 0.5), rgba(57, 57, 68, 0.5));
  background: linear-gradient(rgba(78, 77, 92, 0.5), rgba(57, 57, 68, 0.5));
  -webkit-box-shadow: #4b4c5b 0px -4px 3px -2px inset, #26242c 0px 0px 3px 1px;
  -moz-box-shadow: #4b4c5b 0px -4px 3px -2px inset, #26242c 0px 0px 3px 1px;
  box-shadow: #4b4c5b 0px -4px 3px -2px inset, #26242c 0px 0px 3px 1px;
}

/* line 147, ../sass/style.sass */
.topline-inner {
  position: relative;
  width: 1017px;
}
/* line 151, ../sass/style.sass */
.topline-inner .tracks-toggle {
  position: relative;
  margin-left: 23px;
}
/* line 155, ../sass/style.sass */
.topline-inner .tracks-toggle .tracks-icon {
  top: 0px;
  left: -23px;
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("/static/i/tracks-icon.png");
  background-repeat: no-repeat;
}

/* line 164, ../sass/style.sass */
.tracks-box {
  top: 100%;
  width: 465px;
  height: 333px;
  z-index: 1000;
  position: absolute;
  border-top: 2px solid #192825;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #474857), color-stop(100%, #4b4c5b));
  background: -webkit-linear-gradient(#474857, #4b4c5b);
  background: -moz-linear-gradient(#474857, #4b4c5b);
  background: -o-linear-gradient(#474857, #4b4c5b);
  background: linear-gradient(#474857, #4b4c5b);
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
/* line 174, ../sass/style.sass */
.tracks-box .tracks-corner {
  top: -10px;
  left: 20px;
  width: 19px;
  height: 10px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("/static/i/tracks-corner.png");
}
/* line 184, ../sass/style.sass */
.tracks-box .tracks-inner {
  margin: 15px 0;
  max-height: 300px;
  overflow: scroll;
}
/* line 189, ../sass/style.sass */
.tracks-box .search {
  margin: 0 13px;
  margin-bottom: 7px;
}
/* line 193, ../sass/style.sass */
.tracks-box .search .search-field {
  width: 100%;
  font-size: 12px;
  padding: 6px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 199, ../sass/style.sass */
.tracks-box .tracks {
  width: 100%;
  font-size: 12px;
}
/* line 204, ../sass/style.sass */
.tracks-box .tracks .track:hover {
  background-color: #3f404f;
}
/* line 207, ../sass/style.sass */
.tracks-box .tracks .track-removed {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 210, ../sass/style.sass */
.tracks-box .tracks .title {
  padding: 6px 10px 6px 15px;
}
/* line 213, ../sass/style.sass */
.tracks-box .tracks .controls {
  width: 50px;
  padding: 6px 15px 6px 10px;
}
/* line 217, ../sass/style.sass */
.tracks-box .tracks .remove {
  border: none;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("/static/i/tracks-remove.png");
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

/* line 226, ../sass/style.sass */
.radio {
  margin: 0 auto;
  color: black;
  position: relative;
  border: 1px solid transparent;
  width: 1043px;
}
/* line 233, ../sass/style.sass */
.radio .top {
  position: absolute;
  top: 0;
  left: 0;
  height: 59px;
  width: 100%;
}
/* line 240, ../sass/style.sass */
.radio .top .top-left {
  background-image: url("/static/i/table-top-left2.png");
  width: 52px;
  background-repeat: no-repeat;
}
/* line 245, ../sass/style.sass */
.radio .top .top-line {
  background-image: url("/static/i/table-top.png");
  background-repeat: repeat-x;
}
/* line 249, ../sass/style.sass */
.radio .top .top-right {
  background-image: url("/static/i/table-top-right2.png");
  width: 52px;
  background-repeat: no-repeat;
}
/* line 254, ../sass/style.sass */
.radio .ground {
  background-image: url("/static/i/noise-small-1.png");
  background-color: #d5d3cc;
  margin: 10px;
}
/* line 259, ../sass/style.sass */
.radio .ground .ground-shadow {
  padding: 25px 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}
/* line 263, ../sass/style.sass */
.radio .bottom {
  margin: 0 -26px;
  margin-top: -62px;
}
/* line 267, ../sass/style.sass */
.radio .bottom .inner {
  height: 70px;
  width: 100%;
}
/* line 271, ../sass/style.sass */
.radio .bottom .bottom-left {
  background-image: url("/static/i/table-bottom-left2.png");
  width: 95px;
  background-repeat: no-repeat;
  background-position: bottom left;
}
/* line 277, ../sass/style.sass */
.radio .bottom .bottom-line {
  background-image: url("/static/i/table-bottom2.png");
  background-repeat: repeat-x;
  background-position: bottom center;
}
/* line 282, ../sass/style.sass */
.radio .bottom .bottom-right {
  background-image: url("/static/i/table-bottom-right2.png");
  width: 95px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* line 288, ../sass/style.sass */
.radio .content {
  background: url("/static/i/table-middle.png");
  background-repeat: repeat-y;
  margin: 0 -30px;
  padding: 0 30px;
}

/* line 294, ../sass/style.sass */
.radio-box {
  width: 100%;
}
/* line 297, ../sass/style.sass */
.radio-box .display-ground {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e5e4e0;
  width: 310px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #61bed2), color-stop(50%, #68d0de), color-stop(100%, #3baec7));
  background: -webkit-linear-gradient(#61bed2, #68d0de, #3baec7);
  background: -moz-linear-gradient(#61bed2, #68d0de, #3baec7);
  background: -o-linear-gradient(#61bed2, #68d0de, #3baec7);
  background: linear-gradient(#61bed2, #68d0de, #3baec7);
}
/* line 303, ../sass/style.sass */
.radio-box .display-inner {
  background-image: url("/static/i/display-pattern.png");
  opacity: 0.8;
}
/* line 308, ../sass/style.sass */
.radio-box .display {
  padding: 20px;
  min-height: 88px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #526464 0 0 3px 2px inset;
  -moz-box-shadow: #526464 0 0 3px 2px inset;
  box-shadow: #526464 0 0 3px 2px inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
/* line 316, ../sass/style.sass */
.radio-box .display .fave-button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-image: url("/static/i/display-star.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 27px;
  height: 27px;
}
/* line 326, ../sass/style.sass */
.radio-box .display .fave-button:hover {
  background-image: url("/static/i/display-star-hover.png");
}
/* line 329, ../sass/style.sass */
.radio-box .display h1 {
  position: relative;
  line-height: 1.3em;
  font-size: 22px;
  white-space: nowrap;
}
/* line 335, ../sass/style.sass */
.radio-box .display h2 {
  line-height: 1.2em;
  font-size: 16px;
}
/* line 339, ../sass/style.sass */
.radio-box .display h1, .radio-box .display h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.4em;
  font-weight: normal;
  color: #2e403f;
}
/* line 346, ../sass/style.sass */
.radio-box .favorites {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  max-width: 310px;
  height: 100%;
  border: 1px solid #e2e1de;
  background-image: url("/static/i/dynamic.png");
  background-position: center 20px;
  background-repeat: no-repeat;
  background-color: #222121;
  position: relative;
}
/* line 357, ../sass/style.sass */
.radio-box .favorites .signage {
  position: absolute;
  bottom: 0;
  display: block;
  margin-left: 40px;
  margin-bottom: 15px;
}
/* line 364, ../sass/style.sass */
.radio-box .favorites-inner {
  height: 100%;
  background-image: url("/static/i/grid-pattern.png");
}
/* line 368, ../sass/style.sass */
.radio-box .favorites-list {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  min-height: 153px;
  padding: 9px;
  padding-left: 2px;
  padding-bottom: 65px;
}
/* line 376, ../sass/style.sass */
.radio-box .favorites-list .block {
  text-align: center;
  max-width: 272px;
  min-width: 50px;
  overflow: hidden;
  border: 1px solid #dee1e0;
  color: #314647;
  padding: 5px 9px;
  margin-bottom: 10px;
  margin-left: 7px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: rgba(49, 70, 71, 0.2) 0px 1px 1px;
  -webkit-box-shadow: #0c0c0c 0px 2px 3px 1px;
  -moz-box-shadow: #0c0c0c 0px 2px 3px 1px;
  box-shadow: #0c0c0c 0px 2px 3px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d9d7), color-stop(100%, #c1c8c5));
  background: -webkit-linear-gradient(#d4d9d7, #c1c8c5);
  background: -moz-linear-gradient(#d4d9d7, #c1c8c5);
  background: -o-linear-gradient(#d4d9d7, #c1c8c5);
  background: linear-gradient(#d4d9d7, #c1c8c5);
}
/* line 393, ../sass/style.sass */
.radio-box .favorites-list .block:active {
  border: 1px solid #a3d3dd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #54adc0), color-stop(100%, #88c6d3));
  background: -webkit-linear-gradient(#54adc0, #88c6d3);
  background: -moz-linear-gradient(#54adc0, #88c6d3);
  background: -o-linear-gradient(#54adc0, #88c6d3);
  background: linear-gradient(#54adc0, #88c6d3);
}
/* line 396, ../sass/style.sass */
.radio-box .favorites-list .block:hover {
  text-align: left;
}
/* line 398, ../sass/style.sass */
.radio-box .favorites-list .block:hover .remove {
  display: block;
}
/* line 401, ../sass/style.sass */
.radio-box .favorites-list .remove {
  display: none;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 17px;
  background-color: #cad0ce;
  background-image: url("/static/i/favs-remove.png");
  background-repeat: no-repeat;
  position: absolute;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 413, ../sass/style.sass */
.radio-box .controls {
  min-height: 100px;
}
/* line 416, ../sass/style.sass */
.radio-box .controls button {
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 4px;
}
/* line 422, ../sass/style.sass */
.radio-box .controls .play, .radio-box .controls .pause {
  height: 59px;
  width: 59px;
}
/* line 426, ../sass/style.sass */
.radio-box .controls .back, .radio-box .controls .random {
  width: 49px;
  height: 49px;
}
/* line 430, ../sass/style.sass */
.radio-box .controls .record, .radio-box .controls .volume {
  width: 41px;
  height: 41px;
}
/* line 434, ../sass/style.sass */
.radio-box .controls .play {
  background-image: url("/static/i/play-button.png");
}
/* line 437, ../sass/style.sass */
.radio-box .controls .pause {
  background-image: url("/static/i/pause-button.png");
}
/* line 440, ../sass/style.sass */
.radio-box .controls .random {
  background-image: url("/static/i/random-button.png");
}
/* line 442, ../sass/style.sass */
.radio-box .controls .random:active {
  background-image: url("/static/i/random-button-active.png");
}
/* line 445, ../sass/style.sass */
.radio-box .controls .back {
  background-image: url("/static/i/back-button.png");
}
/* line 447, ../sass/style.sass */
.radio-box .controls .back:active {
  background-image: url("/static/i/back-button-active.png");
}
/* line 450, ../sass/style.sass */
.radio-box .controls .volume {
  background-image: url("/static/i/volume-button.png");
}
/* line 453, ../sass/style.sass */
.radio-box .controls .volume-slider {
  -webkit-apperance: slider-vertical;
}
/* line 456, ../sass/style.sass */
.radio-box .controls .record {
  background-image: url("/static/i/record-button.png");
}

/* line 459, ../sass/style.sass */
.radio-table {
  height: 100%;
  border: 1px solid #e5e4e0;
  margin-left: 30px;
  background-color: #d9ae1a;
  background-image: url("/static/i/table-pattern.png");
  overflow: hidden;
  max-width: 635px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 469, ../sass/style.sass */
.radio-table .radio-line {
  height: 5px;
  border: none;
  margin: 15px -20px 0 -20px;
  background-image: url("/static/i/hr.png");
  background-repeat: repeat-x;
}
/* line 476, ../sass/style.sass */
.radio-table .radio-cursor {
  width: 4px;
  height: 110%;
  position: absolute;
  background-color: #e2641e;
  top: 0px;
  left: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 2px;
  -webkit-transition: left 0.7s ease;
  -webkit-transition-delay: 0;
  -moz-transition: left 0.7s ease 0;
  -o-transition: left 0.7s ease 0;
  transition: left 0.7s ease 0;
}
/* line 487, ../sass/style.sass */
.radio-table .table-wrapper {
  position: relative;
  min-height: 380px;
  margin-bottom: 20px;
}
/* line 492, ../sass/style.sass */
.radio-table .table-inner {
  height: 100%;
  min-height: 475px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #5b4518 0 0 3px 2px inset;
  -moz-box-shadow: #5b4518 0 0 3px 2px inset;
  box-shadow: #5b4518 0 0 3px 2px inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
/* line 502, ../sass/style.sass */
.radio-table .search {
  border: none;
  padding: 6px 10px;
  color: white;
  min-width: 250px;
  background-color: #836636;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 11, ../sass/style.sass */
.radio-table .search.placeholder {
  color: white;
}
/* line 14, ../sass/style.sass */
.radio-table .search::-webkit-input-placeholder {
  color: white;
}
/* line 17, ../sass/style.sass */
.radio-table .search:-moz-placeholder {
  color: white;
}
/* line 20, ../sass/style.sass */
.radio-table .search:-ms-input-placeholder {
  color: white;
}
/* line 512, ../sass/style.sass */
.radio-table .search:focus {
  outline: none;
}
/* line 515, ../sass/style.sass */
.radio-table .filters {
  margin: 0 -8px;
  margin-top: 15px;
  overflow: hidden;
  min-width: 245px;
  font-size: 0;
}
/* line 521, ../sass/style.sass */
.radio-table .filters:after {
  content: "";
  width: 100%;
  display: inline-block;
}
/* line 526, ../sass/style.sass */
.radio-table .filters li {
  font-size: 14px;
  white-space: nowrap;
}
/* line 530, ../sass/style.sass */
.radio-table .filters .block {
  cursor: pointer;
  padding: 6px 8px;
}
/* line 534, ../sass/style.sass */
.radio-table .playlist {
  margin: 10px -10px;
}
/* line 537, ../sass/style.sass */
.radio-table .playlist .block {
  padding: 5px 10px;
  margin: 5px 0px;
  cursor: pointer;
}
/* line 542, ../sass/style.sass */
.radio-table .filters, .radio-table .playlist {
  color: #3d3017;
  text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 0px;
}
/* line 545, ../sass/style.sass */
.radio-table .filters .selected, .radio-table .playlist .selected {
  color: #3d3017;
  background-color: rgba(197, 171, 101, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-shadow: #3d3017 0px 0px 1px;
}

/* line 551, ../sass/style.sass */
.page {
  background-color: #4b4c5b;
  padding: 30px;
  min-height: 500px;
  border: 3px solid #2b2b2b;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 558, ../sass/style.sass */
input[disabled], button[disabled] {
  cursor: normal;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 562, ../sass/style.sass */
.input-text, .page input[type=text] {
  color: #7b7c87;
  outline: none;
  border: 1px solid #505160;
  padding: 9px 11px;
  outline: none;
  background-color: #3f404f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f404f), color-stop(100%, #454757));
  background: -webkit-linear-gradient(#3f404f, #454757);
  background: -moz-linear-gradient(#3f404f, #454757);
  background: -o-linear-gradient(#3f404f, #454757);
  background: linear-gradient(#3f404f, #454757);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #505160 0 1px 1px 0px, #3a3b48 0 2px 5px 1px inset;
  -moz-box-shadow: #505160 0 1px 1px 0px, #3a3b48 0 2px 5px 1px inset;
  box-shadow: #505160 0 1px 1px 0px, #3a3b48 0 2px 5px 1px inset;
}
/* line 11, ../sass/style.sass */
.input-text.placeholder, .page input[type=text].placeholder {
  color: #7b7c87;
}
/* line 14, ../sass/style.sass */
.input-text::-webkit-input-placeholder, .page input[type=text]::-webkit-input-placeholder {
  color: #7b7c87;
}
/* line 17, ../sass/style.sass */
.input-text:-moz-placeholder, .page input[type=text]:-moz-placeholder {
  color: #7b7c87;
}
/* line 20, ../sass/style.sass */
.input-text:-ms-input-placeholder, .page input[type=text]:-ms-input-placeholder {
  color: #7b7c87;
}
/* line 574, ../sass/style.sass */
.input-text:focus, .page input[type=text]:focus {
  color: #f2f2f4;
}

/* line 577, ../sass/style.sass */
.footer {
  clear: both;
}

/* line 580, ../sass/style.sass */
body {
  background-color: #453745;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif !important;
  color: white;
  background: url("/static/i/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 588, ../sass/style.sass */
a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #a49ca3;
}

/* line 593, ../sass/style.sass */
ul.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 597, ../sass/style.sass */
ul.inline li {
  float: left;
}

/* line 600, ../sass/style.sass */
ul.justified {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: justify;
}
/* line 605, ../sass/style.sass */
ul.justified li {
  text-align: left;
  display: inline;
}
/* line 608, ../sass/style.sass */
ul.justified .block {
  display: inline-block;
}
