/* line 6, ../sass/style.sass */
.container {
  width: 1100px;
  margin: 0 auto;
}

/* line 10, ../sass/style.sass */
.login {
  display: inline;
}
/* line 13, ../sass/style.sass */
.login .field {
  width: 110px;
}

/* line 16, ../sass/style.sass */
.main-top {
  margin-top: 5em;
  height: 70px;
}

/* line 21, ../sass/style.sass */
.radio {
  border: 1px solid transparent;
  position: relative;
  width: 1043px;
  color: black;
  text-shadow: none;
}
/* line 28, ../sass/style.sass */
.radio .back {
  background-image: url("/static/i/noise-small-1.png");
  background-color: #d5d3cc;
  margin: 10px;
}
/* line 33, ../sass/style.sass */
.radio .back-shadow {
  padding: 25px 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}
/* line 37, ../sass/style.sass */
.radio .top {
  position: absolute;
  top: 0;
  left: 0;
  height: 59px;
  width: 100%;
}
/* line 44, ../sass/style.sass */
.radio .top .top-left {
  background-image: url("/static/i/table-top-left.png");
  width: 52px;
  background-repeat: no-repeat;
}
/* line 49, ../sass/style.sass */
.radio .top .top-line {
  background-image: url("/static/i/table-top.png");
  background-repeat: repeat-x;
}
/* line 53, ../sass/style.sass */
.radio .top .top-right {
  background-image: url("/static/i/table-top-right.png");
  width: 52px;
  background-repeat: no-repeat;
}
/* line 58, ../sass/style.sass */
.radio .bottom {
  margin: 0 -26px;
  margin-top: -62px;
}
/* line 62, ../sass/style.sass */
.radio .bottom .inner {
  height: 70px;
  width: 100%;
}
/* line 66, ../sass/style.sass */
.radio .bottom .bottom-left {
  background-image: url("/static/i/table-bottom-left.png");
  width: 95px;
  background-repeat: no-repeat;
}
/* line 71, ../sass/style.sass */
.radio .bottom .bottom-line {
  background-image: url("/static/i/table-bottom.png");
  background-repeat: repeat-x;
  background-position: bottom left;
}
/* line 76, ../sass/style.sass */
.radio .bottom .bottom-right {
  background-image: url("/static/i/table-bottom-right.png");
  width: 95px;
  background-repeat: no-repeat;
}
/* line 81, ../sass/style.sass */
.radio .content {
  background: url("/static/i/table-middle.png");
  background-repeat: repeat-y;
  margin: 0 -30px;
  padding: 0 30px;
}
/* line 87, ../sass/style.sass */
.radio .player {
  width: 100%;
}

/* line 91, ../sass/style.sass */
.footer {
  clear: both;
}

/* line 94, ../sass/style.sass */
body {
  background-color: #453745;
  font-size: 14px;
  color: white;
  text-shadow: black 0px 1px 1px;
  background: url("/static/i/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 102, ../sass/style.sass */
a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #7f777f;
}

/* line 107, ../sass/style.sass */
ul.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 111, ../sass/style.sass */
ul.inline li {
  float: left;
}

/* line 114, ../sass/style.sass */
ul.justified {
  text-align: justify;
}
/* line 116, ../sass/style.sass */
ul.justified li {
  float: none;
  display: inline-block;
}
