{% extends "admin/layout.html" %}
{% block title %}Import Radio{% endblock %}
{% block content %}
    <div class="import">
        <h2>Import</h2>
        <div class="row">
            <div class="span4">
                <form class="fetch form-inline">
                    <legend>Fetch Playlist</legend>
                    <input name="url" type="text" placeholder="Playlist or stream" />
                    <input type="submit" class="btn" value="Fetch" />
                </form>
            </div>
            <div class="span4 select form-inline">
                <legend>Select Streams</legend>
                <input type="text" class="search input-medium" placeholder="Search" />
                <a class="btn toggle">Toggle</a>
                <a class="btn push" button="submit">Push <i class="icon-arrow-right"></i></a>
                <br />
                <table class="table table-hover"></table>
            </div>

            <div class="span4">
                <form class="station">
                    <legend>Save Station</legend>
                    <div class="controls">
                        <input type="text" placeholder="Title" name="title" class="title" />
                        <input type="text" placeholder="Tags" name="tags" />
                    </div>
                    <input type="submit" class="btn" value="Save" />
                    <p class="text-info"></p>
                    <table class="table table-hover"></table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            Admin.import = new Admin.ImportView();
            //Admin.import.submit();
        });
    </script>
{% endblock %}
