<!DOCTYPE html>
<html ng-app="admin">
<head>
    <title>{{% block title %}}Admin{{% endblock %}}</title>
    <link href="/admin/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/static/css/admin.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="/">Again.FM</a>
        <!--ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
        </ul-->
    </div>
    </div>
    <div class="container">
        {{% block content %}}{{% endblock %}}
    </div>

    <script src="/admin/static/js/angular.js"></script>
    <script src="/admin/static/js/angular-cookies.js"></script>
    <script src="/admin/static/js/angular-resource.js"></script>
    <script src="/admin/static/js/admin.js"></script>
    {{% block js %}}{{% endblock %}}
</body>
</html>