{{% extends "admin/layout.html" %}}

{{% block content %}}
    <h1>Radio</h1>

    <table class="table" ng-controller="RadioCtrl">
        <tbody>
            <tr ng-repeat="radio in radio_list|orderBy:'_id'" ng-class="{'success': radio.group}">
                <td>
                    {{ radio.title }}<br />
                    <button class="btn" ng-click="markGroup(radio)">group</button>
                </td>
                <td>
                    <ul>
                        <li ng-repeat="station in radio.stations">
                            {{ station.title }}<br />
                            <blockquote>{{ station.playlist }}</blockquote>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
{{% endblock %}}
