{{% extends "admin/layout.html" %}}

{{% block title %}}Редактор жанров{{% endblock %}}

{{% block content %}}
    <div class="page centroid genres-admin">
        <h1>Жанры</h1>

        <div class="manager-table" ng-controller="GenresCtrl">
            <p><span class="pseudo-link" ng-click="new()">добавить</span></p>
            <table class="genres">
                <tr ng-repeat="genre in genres" ng-show="genre.is_public">
                    <td><inline-edit model="genre.title"></inline-edit></td>
                    <td class="col-id">{{ genre.id }}</td>
                    <td><i class="remove-icon" ng-click="genre.is_public=false"></i></td>
                </tr>
            </table>
            <button class="btn" ng-click="save()">Cохранить</button>
        </div>
    </div>
{{% endblock %}}

{{% block scripts %}}
    <script src="/static/js/admin/base.js"></script>
    <script>
        angular.element(document).ready(function(){
            angular.bootstrap(document, ['afm.admin']);
        });
    </script>
{{% endblock %}}
