{{% extends "admin/layout.html" %}}

{{% block title %}}Публикация{{% endblock %}}

{{% block content %}}
    <div class="page centroid blog-admin">
        <p><a href="{{{ url_for('admin_pages') }}}">&larr; список</a></p>
        <h1>Публикация</h1>
        <form action="{{{ action }}}" method="post">
            <p>
                <input placeholder="Путь на сайте (/path)" class="text" type="text" name="path" value="{{{ page.path }}}" size="32" />
            </p>
            <p>
                <input placeholder="Заголовок" class="text" type="text" name="title" value="{{{ page.title }}}" size="96" /><br />
            </p>
            <p>
                <textarea name="content" cols="30" rows="10" id="editor">{{{ page.content }}}</textarea>
            </p>
            <p>
                <input type="submit" value="Сохранить" class="btn" />
                {{% if page.id %}}
                    <a href="{{{ url_for('admin_pages_remove', page_id=page.id) }}}" class="action-link">удалить</a>
                    <a href="{{{ url_for('page', path=page.path) }}}" target="_blank" class="action-link">на сайте</a>
                {{% endif %}}
            </p>
        </form>
    </div>
{{% endblock %}}

{{% block scripts %}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/codemirror.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/markdown.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/codemirror.css" />
    <link rel="stylesheet" href="/static/css/codemirror-solarized.css" />
    <script type="text/javascript">
      var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        height: "dynamic",
        mode: "text/x-markdown",
        theme: "solarized againfm"
      });
    </script>
{{% endblock %}}

