@import "compass/css3/text-shadow"

.manager-table
  .list-search
    margin-bottom: 0.6em
    width: 100%

  .col
    float: left
    overflow: hidden
    padding-right: 20px

  .col-genres,
  .col-radiolist
    max-height: 430px
    overflow-y: auto

  .col-genres
    width: 160px
    max-height: 430px

  .col-radiolist
    width: 250px
    max-width: 250px

  .col-radio
    width: 400px

  .selected
    color: white !important

  .list li
    cursor: pointer
    color: #c6c5c8
    padding: 5px 0
    &:hover
      color: #f3f3f3

  .radio-form
    .text
      width: 300px

    .field
      padding-bottom: 10px

    .field-text
      padding: 6px 0
      color: #c6c5c8

    .label
      width: 100px
      text-align: right
      padding-right: 10px
      color: #c6c5c8
      vertical-align: top
      padding-top: 6px

    .btn
      margin-top: 20px

.genres-admin
  .inline-edit
    cursor: pointer

  .remove-icon
    float: left
    margin-right: 6px

  .btn
    margin-top: 15px

  .col-id
    width: 30px
    color: #aaa

  .genres
    width: 220px

  .text
    width: 80%

  td
    padding: 3px 0


.chzn-container
  margin-bottom: 10px
  color: #222 !important
  a
    border: 0


.admin-index
  text-align: center

  h1
    font-weight: 100
    letter-spacing: 2px

  table
    width: 100%
    margin-top: 30px

  .metric
    +text-shadow(black 0px 1px 1px)
    width: 110px
    font-size: 25px
    line-height: 1.3em
    padding-bottom: 30px

  .label
    display: block
    color: #c6c5c8
    font-size: 15px

.pages-list
  width: 60%
  th
    text-align: left

  td
    padding: 5px 2px

.blog-admin
  #editor
    width: 600px
    height: 300px