.manager-table
  .list-search
    margin-bottom: 0.6em

  .col
    float: left
    overflow: hidden
    padding-right: 20px

  .col-genres,
  .col-radiolist
    max-height: 430px
    overflow-y: auto

  .col-genres
    width: 160px
    max-height: 430px

  .col-radiolist
    width: 250px
    max-width: 250px

  .selected
    color: white !important

  .list li
    cursor: pointer
    color: #c6c5c8
    padding: 5px 0
    &:hover
      color: #f3f3f3

  .radio-form
    .text
      width: 300px

    .field
      padding-bottom: 10px

    .field-text
      padding: 6px 0
      color: #c6c5c8

    .label
      width: 100px
      text-align: right
      padding-right: 10px
      color: #c6c5c8
      vertical-align: top
      padding-top: 6px

    .btn
      margin-top: 20px

