@import "compass/css3/background-size"
@import "compass/css3/border-radius"
@import "compass/css3/images"
@import "compass/css3/box-shadow"

.container
  width: 1100px
  margin: 0 auto

.login
  display: inline

  .field
    width: 110px

.main-top
  margin-top: 5em
  height: 70px


.radio
  border: 1px solid transparent
  position: relative
  width: 1043px
  color: #000
  text-shadow: none

  .back
    background-image: url('/static/i/noise-small-1.png')
    background-color: #d5d3cc
    margin: 10px

  .back-shadow
    padding: 25px 20px
    +background(linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)))

  .top
    position: absolute
    top: 0
    left: 0
    height: 59px
    width: 100%

    .top-left
      background-image: url('/static/i/table-top-left.png')
      width: 52px
      background-repeat: no-repeat

    .top-line
      background-image: url('/static/i/table-top.png')
      background-repeat: repeat-x

    .top-right
      background-image: url('/static/i/table-top-right.png')
      width: 52px
      background-repeat: no-repeat

  .bottom
    margin: 0 -26px
    margin-top: -62px

    .inner
      height: 70px
      width: 100%

    .bottom-left
      background-image: url('/static/i/table-bottom-left.png')
      width: 95px
      background-repeat: no-repeat

    .bottom-line
      background-image: url('/static/i/table-bottom.png')
      background-repeat: repeat-x
      background-position: bottom left

    .bottom-right
      background-image: url('/static/i/table-bottom-right.png')
      width: 95px
      background-repeat: no-repeat

  .content
    background: url('/static/i/table-middle.png')
    background-repeat: repeat-y
    margin: 0 -30px
    padding: 0 30px

  .player
    width: 100%


.footer
  clear: both

body
  background-color: #453745
  font-size: 14px
  color: #fff
  text-shadow: shade(#000, 30%) 0px 1px 1px
  background: url("/static/i/background.jpg")
  +background-size(cover)

a
  color: #fff
  text-decoration: none
  border-bottom: 1px solid #7f777f

ul.inline
  list-style-type: none
  margin: 0
  padding: 0
  li
    float: left

ul.justified
  text-align: justify
  li
    float: none
    display: inline-block