.container
  width: 1000px
  margin: 0 auto

.login
  display: inline

  .field
    width: 110px

.main-top
  margin-top: 5em
  height: 70px

.radio
  clear: both

  .visual
    width: 30%
    float: left

    .bar
      height: 150px

    .controls
      height: 100px

    .favorites
      li
        padding: 0.5em

  .table
    width: 65%
    float: right

    .controls
      width: 100%
      clear: both
      form
        display: inline

    .nav
      width: 100%
      clear: both
      /* for overflow
      overflow: hidden
      height: 30px
      margin: 2em 0
      li
        margin: 1em
        cursor: pointer

    .list
      width: 100%
      clear: both

      li
        padding-left: 1em
        &:after
          content: ''
          width: 100%
          display: inline-block

.footer
  clear: both

body
  background-color: #453745
  font-size: 14px
  color: #fff
  text-shadow: shade(#000, 30%) 0px 1px 1px

a
  color: #fff
  text-decoration: none
  border-bottom: 1px solid #7f777f

ul.inline
  list-style-type: none
  margin: 0
  padding: 0
  li
    float: left

ul.justified
  text-align: justify
  li
    float: none
    display: inline-block