{{% extends "layout.html" %}}

{{% block content %}}
    <div class="page centroid">
        <h1>Заголовок первого уровня</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi&nbsp;eros, elementum vel facilisis sed, commodo quis arcu. Nullam imperdiet, metus vel ultricies viverra, ante enim laoreet nunc, vehicula rutrum eros nunc quis nisl. Nullam ultricies tempor dictum. Donec fringilla dui non enim viverra auctor. Cras scelerisque pellentesque lacus, hendrerit mattis mauris ullamcorper vitae. Nam convallis, tortor sit amet egestas commodo, felis lectus molestie mi, ac&nbsp;interdum velit massa a&nbsp;sapien. Aenean nisl magna, consectetur a&nbsp;placerat id, vulputate at&nbsp;quam.</p>
        <p>Donec pretium, arcu a&nbsp;condimentum egestas, eros augue blandit diam, vitae luctus mauris enim a&nbsp;ipsum. Nunc tincidunt, orci in&nbsp;interdum viverra, eros massa aliquet lorem, sit amet auctor orci quam sed sem. Nulla tincidunt ullamcorper adipiscing. Donec bibendum diam non dui commodo in&nbsp;faucibus nisi adipiscing. Ut&nbsp;facilisis risus eu&nbsp;eros molestie mollis. Vestibulum purus massa, scelerisque at&nbsp;elementum ultrices, molestie at&nbsp;est. Donec elementum lectus a&nbsp;quam porttitor id&nbsp;dapibus urna sollicitudin.</p>
        <h2>Заголовок второго уровня</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi&nbsp;eros, elementum vel facilisis sed, commodo quis arcu. Nullam imperdiet, metus vel ultricies viverra, ante enim laoreet nunc, vehicula rutrum eros nunc quis nisl. Nullam ultricies tempor dictum. Donec fringilla dui non enim viverra auctor. Cras scelerisque pellentesque lacus, hendrerit mattis mauris ullamcorper vitae. Nam convallis, tortor sit amet egestas commodo, felis lectus molestie mi, ac&nbsp;interdum velit massa a&nbsp;sapien. Aenean nisl magna, consectetur a&nbsp;placerat id, vulputate at&nbsp;quam.</p>
        <p>Donec pretium, arcu a&nbsp;condimentum egestas, eros augue blandit diam, vitae luctus mauris enim a&nbsp;ipsum. Nunc tincidunt, orci in&nbsp;interdum viverra, eros massa aliquet lorem, sit amet auctor orci quam sed sem. Nulla tincidunt ullamcorper adipiscing. Donec bibendum diam non dui commodo in&nbsp;faucibus nisi adipiscing. Ut&nbsp;facilisis risus eu&nbsp;eros molestie mollis. Vestibulum purus massa, scelerisque at&nbsp;elementum ultrices, molestie at&nbsp;est. Donec elementum lectus a&nbsp;quam porttitor id&nbsp;dapibus urna sollicitudin.</p>
        <table>
            <tr valign="top">
                <td width="50%">
                    <p><input type="text" class="text" value="Text" /></p>
                    <p><input type="text" class="text" placeholder="Placeholder" /></p>
                    <p><input type="text" class="text" value="Disabled" disabled="disabled" /></p>
                </td>
                <td width="50%" style="padding-left: 20px">
                    <p>
                        <button class="btn">Button</button>
                        <button class="btn btn-green">Button</button>
                    </p>
                </td>
            </tr>
        </table>
    </div>
{{% endblock %}}
