<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% if station %}
            <title>{{ station.title }} - {{ sitename }}</title>
            <meta name="description" content="Listen {{ station.title }} on {{ sitename }}" />
        {% else %}
            <title>{{ sitename }}</title>
            <meta name="description" content="{{ _('site.description') }}" />
        {% endif %}
        <link href="{{ static_url }}css/screen.css" media="screen, projection" rel="stylesheet" />
        <link id="favicon" rel="shortcut icon" type="image/x-icon" href="{{ static_url }}i/favicon.ico" />
    </head>
    <body>
        <div class="wrapper">
            <div class="main">
            <div class="wrapper-left">
                <div class="wrapper-left-content">
                    <img src="{{ static_url }}i/logo_rus.png" width="308" height="135" class="logo" alt="logo" />
                    <div class="radio-controls">
                        <div class="radio-control valign">
                            <span class="prev"></span>
                        </div>
                        <div class="radio-control">
                            <span class="play"></span>
                        </div>
                        <div class="radio-control valign">
                            <span class="next"></span>
                        </div>
                        <div class="radio-controls-status">
                            <div class="inner">
                                <div class="sound"></div>
                                <div class="slider"></div>
                                <div class="hd hidden">HD</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper-right">
                <div class="wrapper-right-content">
                    <div class="box-holder">
                        <form class="head-form login hidden">
                            <div class="form-input">
                                <input type="text" tabindex="10" class="input" name="login" placeholder="{{ _('login.placeholder.login') }}" />
                                <span class="pseudo-link register">{{ _('login.register') }}</span>
                            </div>
                            <div class="form-input">
                                <input type="password" tabindex="11" class="input" name="password" placeholder="{{ _('login.placeholder.password') }}" />
                                <span class="pseudo-link amnesia">{{ _('login.amnesia') }}</span>
                            </div>
                            <input type="submit" tabindex="12" value="{{ _('login.button') }}" />
                            <div class="notice hidden">
                                <p><!-- --></p>
                            </div>
                        </form>
                        <div class="user-profile hidden"></div>
                    </div>
                    <div class="radio-now"></div>
                    <div class="user-panel"></div>
                </div>
            </div>
            <div class="wrapper-wide">
                <div class="radio-display">
                    <div class="radio-display-head">
                        <ul class="filters"></ul>
                        <div class="search">
                            <div class="search-icon"></div>
                            <input type="text" placeholder="{{ _('search.placeholder') }}" autocomplete="off" class="search-input" name="q" />
                        </div>
                    </div>
                </div>
                <div class="radio-scroll">
                    <div class="radio-scale viewport">
                        <div class="scale-inner overview"></div>
                    </div>
                    <div class="scrollbar">
                        <div class="track">
                            <div class="thumb"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div style="width: 100%; clear: both; height: 3em;"></div>
        </div>

        <div class="footer">
            <div class="left">
            <p>{{ sitename}} {{ _('site.footer.disclaimer') }}</p>
            <p class="left-shift">
                &copy; 2012, {{ sitename }} &middot; {{ _('site.footer.made_in') }}
                &middot; <span class="pseudo-link about">{{ _('site.footer.about') }}</span> &middot; <span class="pseudo-link tos">{{ _('site.footer.tos') }}</span>
            </p>
            </div>
            <div class="right">
                <p>{{ _('site.footer.designer.label') }} <a href="http://www.zolotorevich.com/">Rei Z</a></p>
                <p><a href="">{{ _('site.footer.designer.info_label') }}</a></p>
            </div>
        </div>

        <div id="player-container"></div>
        <canvas id="spectrum"></canvas>

        {% raw %}
        <script id="about" type="text/html">
        </script>

        <script id="filter_item" type="text/html">
            <li>
                <span class="nav-link {{role}}-link{{#if is_active}} active {{role}}-active{{/if}}">{{title}}</span>
            </li>
        </script>

        <script id="radio_now" type="text/html">
            <img src="{{image_url}}" width="78" height="78" />
            <div class="radio-now-glare"></div>
            <div class="radio-now-content">
                <h1 title="{{title}}">
                    <span class="title-inner">{{title}}</span>
                </h2>
                <h2 title="{{caption}}">{{caption}}</h2>
                <p class="station">{{station_title}}</p>
            </div>
            <div class="{{star_class}}" data-id="{{id}}"></div>
        </script>

        <script id="user_profile" type="text/html">
            <img src="{{user_gravatar_url user}}" width="50" height="50" alt="" class="avatar" />
            <div class="content">
                <p>{{#if user.name}}{{user.name}}{{else}}{{user.email}}{{/if}}</p>
                <ul>
                    <li class="favorites"><a href="#" class="link">{{t "user.favorites" }}</a></li>
                    <li class="settings"><a href="#" class="link">{{t "user.settings" }}</a></li>
                </ul>
            </div>
            <div class="logout"></div>
        </script>

        <script id="top_holder" type="text/html">
            <div class="form-holder {{class}}">
                <div class="wrapper-left">
                    <div class="wrapper-left-content">
                        <h1>{{title}}</h1>
                    </div>
                </div>
                <div class="wrapper-right">
                    <div class="wrapper-right-content">
                        {{&content}}
                        <div class="close-box hidden">
                            <div class="close"><span class="pseudo-link">{{t "topholder.cancel" }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script id="user_amnesia" type="text/html">
            <form class="head-form amnesia" data-title="{{t "amnesia.title" }}">
                <div class="form-input">
                    <input type="text" tabindex="30" class="input" name="email" placeholder="{{t "amnesia.placeholder" }}" />
                </div>
                <input type="submit" tabindex="31" value="{{t "amnesia.button" }}" />
                <div class="notice">
                    <p>{{t "amnesia.notice" }}</p>
                </div>
            </form>
        </script>

        <script id="user_register" type="text/html">
            <form class="head-form register" data-title="{{t "register.title" }}">
                <div class="form-input">
                    <input type="text" tabindex="20" class="input" name="email" placeholder="{{t "register.placeholder.email" }}" />
                </div>
                <div class="form-input">
                    <input type="password" tabindex="21" class="input" name="password" placeholder="{{t "register.placeholder.password" }}" />
                </div>
                <input type="submit" tabindex="22" value="{{t "register.button" }}" />
                <div class="notice">
                    <p>{{t "register.notice" }}</p>
                </div>
            </form>
        </script>

        <script id="user_panel" type="text/html">
            <h1>{{title}}</h1>
            {{&content}}
            <div class="close"></div>
        </script>

        <script id="tos" type="text/html">
            <div class="tos" data-title="{{t "tos.title"}}">
                <div class="text">
                <p>Just vinyl, just hardcore :)</p>
                </div>
            </div>
        </script>

        <script id="user_favorites_group" type="text/html">
            <fieldset><legend>{{day}}</legend></fieldset>
            <table class="favorites">
                {{#each value}}
                <tr class="{{#if this.is_deleted}}deleted{{/if}}" data-id="{{this.id}}">
                    <td class="state">{{this.time}}</td>
                    <td class="content">
                        <h2>{{this.title}}</h2>
                        <h3>@ {{this.station_title}}</h3>
                    </td>
                    <td>
                        <!-- buttons -->
                    </td>
                </tr>
                {{/each}}
            </table>
        </script>

        <script id="user_favorites" type="text/html">
            <div class="user-favorites" data-title="{{t "favorites.title" }}">
                {{#if showHelp}}
                    <div class="help">
                        <p>{{t "favorites.helptext1" }}</p>
                        <img src="{{static_url "i/radionow.png"}}" width="386" height="100" alt=": )" />
                        <p>{{t "favorites.helptext2" }}</p>
                    </div>
                {{/if}}
            </div>
        </script>

        <script id="user_settings" type="text/html">
            <div class="user-settings" data-title="{{t "settings.title" }}">
                <fieldset>
                    <legend>{{t "settings.playback" }}</legend>
                </fieldset>
                <ul class="checkbox-shift">
                    <li>
                        {{checkbox settings.throttle_traffic}}
                        <label>
                            {{t "settings.throttle_traffic.label"}}
                            <small>{{t "settings.throttle_traffic.notice"}}</small>
                        </label>
                    </li>
                    <li>
                        {{checkbox settings.limit_night_volume}}
                        <label>
                            {{t "settings.limit_night_volume.label"}}
                            <small>{{t "settings.limit_night_volume.notice"}}</small>
                        </label>
                    </li>
                    <li>
                        {{checkbox settings.fading_sound}}
                        <label>
                            {{t "settings.fading_sound.label"}}
                        </label>
                    </li>
                </ul>

                <fieldset>
                    <legend>{{t "settings.personal_info.title"}}</legend>
                </fieldset>
                <ul>
                    <li>
                        {{t "settings.personal_info.email"}}: <strong>{{email}}</strong>
                    </li>
 
                    <li>
                        {{t "settings.personal_info.display_name"}}:
                        <input type="text" class="name" value="{{name}}" maxlength="30" autocomplete="off" />
                        <button class="btn change-name" data-changing-text="changing...">change</button>
                    </li>

                    <li>
                        {{t "settings.personal_info.password"}}:
                        <span class="password-holder">
                            ************
                            <span class="pseudo-link show-password-change">change</span>
                        </span>
                        <span class="password-block hidden">
                            <input type="password" class="password" value="" maxlength="128" placeholder="{{t "settings.personal_info.desired_password"}}" autocomplete="off" />
                            <button class="btn change-password" data-changing-text="changing...">change</button>
                        </span>
                        <span class="pseudo-link password-reset btn" data-sending-text="sending..." data-sent-text="A new password has been sent.">send new password to email</span>
                    </li>
                </ul>
            </div>
        </script>

        <script id="password_reset" type="text/html">
            <div class="notice">
                <p>
                    <strong>{{t "amnesia.result.title"}}</strong>
                    {{#if email_provider}}
                        <a href="http://{{email_provider}}/" target="_blank">{{t "amnesia.result.check_email"}}</a>
                        ({{t "amnesia.result.link_hint"}})
                    {{else}}
                        {{t "amnesia.result.check_email"}}.
                    {{/if}}
                </p>
            </div>
        </script>
        {% endraw %}

        <script src="http://yandex.st/jquery/1.8.0/jquery.min.js"></script>
        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script>
            $(function(){
                $.i18n.init({
                    lng: "{{ sitelang }}",
                    fallbackLng: false,
                    resGetPath: '/static/js/i18n/__lng__/__ns__.json'
                });

                $('.search-input').autocomplete({
                    source: function(request, response) {
                        $.getJSON('/api/search', {term: request.term}, function(resp){
                            response(resp.results || []);
                        });
                    },
                    select: function() {
                        console.log(arguments);
                        return false;
                    },
                    focus: function() {
                        return false;
                    },
                    appendTo: '.search',
                    position: {at: "left center"}
                }).data( "autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" )
                            .data( "item.autocomplete", item )
                            .append( "<a><strong>" + item.label + "</strong><br>" + item.tag + '</a>')
                            .appendTo( ul );
                };
                //$('.search-input').autocomplete('search', 'ho');

                App.config = {{ app_config|tojson|safe }};6
                App.setup({{ app_bootstrap|tojson|safe }});

                {% if station %}
                App.player.on('ready', function(){
                    App.radio.setStation(new App.Station({{ station|tojson|safe }}));
                });
                {% endif %}
                App.start();

                _.each(['small-logo.png', 'radionow.png', 'favicon_play.ico'], function(img){
                    preloadImage(App.config.static_url + 'i/' + img);
                });

                $.watermark.showAll();
            });
        </script>
    </body>
</html>


