<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
    <title>{{% block title %}}Again.FM{{% endblock %}}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{% block description %}}{{% endblock %}}" />
    <meta name="og:url" content="http://again.fm/" />
    <meta http-equiv="X-Frame-Options" content="deny" />

    <style>.ng-cloak { display: none; }</style>
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />

    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <!--[if lt IE 9]><meta http-equiv="refresh" content="0; URL=/badbrowser.html"><![endif]-->

    {# подключаемые стили #}
    {{% block styles %}}{{% endblock %}}

    {# трекинг js-ошибок в qbaka.net #}
    {{% if not config.DEBUG %}}
        {{% include 'extras/qbaka.html' %}}
    {{% endif %}}

    <script>
        var _ua = navigator.userAgent.toLowerCase();
        var browser = {
            v: (_ua.match( /.+(?:me|ox|on|rv|it|era|ie)[\/: ]([\d.]+)/ ) || [0,'0'])[1],
            msie: (/msie/i.test(_ua) && !/opera/i.test(_ua)),
            mozilla: /firefox/i.test(_ua),
            chrome: /chrome/i.test(_ua),
            safari: (!(/chrome/i.test(_ua)) && /webkit|safari|khtml/i.test(_ua)),
            android: /android/i.test(_ua),
            mobile: /iphone|ipod|ipad|opera mini|opera mobi|iemobile|android/i.test(_ua),
            mac: /mac/i.test(_ua)
        };
    </script>
</head>

<body ng-controller="UserCtrl" ng-init='setUser({{{ current_user.get_public('id,email')|json }}})'>
    <div class="modal-back ng-cloak" ng-show="visible" ui-view></div>

    {{% block top_content %}}{{% endblock %}}

    <div class="topline">
        <div class="topline-inner centroid">
            <div class="topmenu">
                <div class="menu-item logo">
                    <a href="/" target="_self">
                        <img src="/static/i/logo.png" width="132" height="31" alt="Радиоплеер Эгейн" />
                    </a>
                </div>

                {{% block topline %}}{{% endblock %}}
                <div class="menu-item side-item">
                    <p ng-hide="user.isLogged()">
                        <a href="/login">Войти с паролем</a>
                        <a href="/signup">Стать постоянным слушателем</a>
                    </p>
                    <p ng-show="user.isLogged()">
                        <span class="pseudo-link" ng-click="logout()">выйти</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{% block content %}}{{% endblock %}}

    {# подвал #}
    <div class="footer centroid">
        <ul class="inline">
            <li class="item">&copy {{{ year }}}</li>
            <li class="item"><a href="{{{ url_for('feedback') }}}" target="_self">обратная связь</a></li>
            <li class="item"><a href="/about" target="_self">о проекте</a></li>
            <li class="item shift" ng-init='stats={{{ stats|json }}}'>
                Играем {{ stats.radio|number }}
                <span ng-pluralize count="stats.radio"
                      when="{one: 'радиостанцию', few: 'радиостанции', many: 'радиостанций'}"></span>.
            </li>
            <li class="share">
                <script src="//yandex.st/share/share.js"></script>
                <div class="yashare-auto-init" data-yashareL10n="ru"
                     data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,lj">
                </div>
            </li>
        </ul>
    </div>

{# базовые скрипты #}
{{% for name in ('angular', 'angular-cookies', 'angular-resource', 'lodash.custom', 'angular-ui-states', 'angular-locale_ru') %}}
    <script src="/static/js/common/{{{ name }}}.js"></script>
{{% endfor %}}

<script src="/static/js/base.js"></script>
<script src="/static/js/user.js"></script>

{# подключаемые скрипты #}
{{% block scripts %}}{{% endblock %}}

{# {% include 'extras/scriptjs.html' %} #}

{# счетчики: yandex, google analytics, ... #}
{{% if not config.DEBUG %}}
{{% include 'extras/counters.html' %}}
{{% endif %}}

{{% include 'js_templates.html' %}}

<div class="flash-engine" id="flash-player-engine" data-src="/static/swf/player.swf"></div>
</body>
</html>