<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
    <title>{{% block title %}}Радиоплеер{{% endblock %}}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{% block description %}} Включи музыку для любимого дела. {{% endblock %}}" />
    <meta name="og:url" content="http://again.fm/" />
    <meta http-equiv="X-Frame-Options" content="deny" />

    <style>.ng-cloak { display: none; }</style>
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />

    {# подключаемые стили #}
    {{% block styles %}}{{% endblock %}}

    {# трекинг js-ошибок в qbaka.net #}
    {{% if not config.DEBUG %}}
        {{% include 'extras/qbaka.html' %}}
    {{% endif %}}
</head>

<body ng-controller="UserCtrl" ng-init='setUser({{{ current_user.get_public('id,email')|json }}})'>
    <div class="modal-back ng-cloak" ng-show="visible" ui-view></div>

    {{% block top_content %}}{{% endblock %}}
    <div class="topline">
        <div class="topline-inner centroid">
            <div class="topmenu">
                <div class="menu-item logo">
                    <a href="/" target="_self">
                        <img src="/static/i/logo.png" width="132" height="31" alt="Радиоплеер Эгейн" />
                    </a>
                </div>
                <div class="menu-item side-item">
                    <p ng-hide="user.isLogged()">
                        <a href="/login">Войти с паролем</a>
                        <a href="/signup">Стать постоянным слушателем</a>
                    </p>
                    <p ng-show="user.isLogged()">
                        <span class="pseudo-link" ng-click="logout()">выйти</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {{% block content %}}{{% endblock %}}

    {# подвал #}
    <div class="footer centroid">
        <div class="container">
            <table width="100%">
                <tr>
                    <td>
                        <p>
                            <span class="copyright">&copy; 2011&mdash;{{{ year }}}</span>
                            <a class="pseudo-link" href="/feedback">обратная связь</a>
                        </p>
                    </td>
                    <td><p>Играем 3 000 радиостанций с 2 456 потоками. Обновлено: 10.05.10</p></td>
                    <td align="right">
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-url="http://again.fm/" data-via="againfm" data-lang="en"
                           data-text="Радиоплеер Эгейн"></a>
                        <div id="vk-like"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{# базовые скрипты #}

{{% for name in ('angular', 'angular-cookies', 'angular-resource', 'lodash.custom', 'angular-ui-states') %}}
    <script src="/static/js/common/{{{ name }}}.js"></script>
{{% endfor %}}

{# подключаемые скрипты #}
{{% block scripts %}}{{% endblock %}}

{{% include 'extras/scriptjs.html' %}}

{# счетчики: yandex, google analytics, ... #}
{{% if not config.DEBUG %}}
{{% include 'extras/counters.html' %}}
{{% endif %}}

{{% include 'js_templates.html' %}}

<div class="flash-engine" id="flash-player-engine" data-src="/static/swf/player.swf"></div>
</body>
</html>