{{% extends "layout.html" %}}

{{% block top_content %}}
    <div class="modal-box data-ng-cloak" data-ng-view=""></div>
    <div class="topline">
        <!-- TODO: нахера два центройда? -->
        <div class="topline-inner centroid">
            <table class="topmenu centroid" data-ng-controller="MenuCtrl">
                <tr>
                    <td width="20%">
                        <a data-ng-click="toggleTracks($event)" class="tracks-toggle">
                            <i class="tracks-icon"></i>
                            Любимые песни из эфира
                        </a>
                    </td>
                    <td style="padding-left: 30px">
                        <a href="/radio/" target="_self">Радио</a>
                    </td>
                    <td align="right">
                        <p data-ng-hide="currentUser.isLogged()">
                            <a href="/signup">Стать постоянным слушателем</a> или <a href="/login">войти с паролем</a>
                        </p>
                        <p data-ng-show="currentUser.isLogged()">
                            <a data-ng-click="logout()">выйти</a>
                        </p>
                    </td>
                </tr>
            </table>

            <div data-ng-controller="TracksCtrl" class="tracks-box" data-ng-class="{visible: visible}">
                <span class="tracks-corner"></span>
                <div class="tracks-inner">
                    <div class="search" data-ng-show="haveTracks()">
                        <input type="text" class="text search-field" data-ng-model="searchQuery" placeholder="поиск треков" />
                    </div>
                    <div class="help" data-ng-hide="haveTracks()">
                        <p>Сюда можно отложить название трека из&nbsp;<nobr>радио-эфира</nobr>.</p>
                    </div>
                    <table class="tracks">
                        <tr data-ng-class="trackClass(track)" data-ng-repeat="track in getTracks()">
                            <!--
                            artist - track          (today, yesterday, ..., 21 марта, 21.08.09)
                            station | time
                            -->
                            <td class="title">{{ track.title }}</td>
                            <td class="controls" align="right">
                                <i data-ng-click="remove(track)" class="remove" data-ng-hide="track.removed"></i>
                                <!-- TODO: fix hover bug -->
                                <a data-ng-click="restore(track)" class="restore" data-ng-show="track.removed">отмена</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{% endblock %}}

{{% block content %}}
<div class="radio">
    <table class="top">
        <tr>
            <td class="top-left"></td>
            <td class="top-line"></td>
            <td class="top-right"></td>
        </tr>
    </table>
    <div class="ground">
        <div class="ground-shadow">
            <div class="content">
                <table class="radio-box" data-ng-controller="RadioCtrl">
                    <tr valign="top">

                        <!-- Минидисплей -->
                        <td width="312px">
                            <div class="display-ground">
                                <div class="display-inner">
                                    <div class="display" data-ng-controller="DisplayCtrl">
                                        <div ng-show="title">
                                            <p class="title" ng-class="{starred: starred()}" ng-click="star()">
                                                <span class="marquee">
                                                    {{ title }}
                                                </span>
                                                <span class="star"></span>
                                            </p>
                                            <p class="track" ng-class="{liked: track.favorite}"
                                               ng-click="like()" ng-show="track">
                                                <span class="marquee" ng-hide="track.artist">{{ track.title }}</span>
                                                <span class="marquee" ng-show="track.artist">
                                                    <strong>{{ track.artist }}</strong> &mdash; {{ track.name }}
                                                </span>
                                                <span class="like"></span>
                                            </p>
                                        </div>
                                        <div class="clock" clock="title"></div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <!-- Шкала -->
                        <td rowspan="3">
                            <div class="radio-table">
                                <div class="table-inner" data-ng-controller="PlaylistCtrl" ng-init="selectTab('featured')">
                                    <div class="group">
                                        <div class="search">
                                            <input type="search" placeholder="поиск радио" class="search-field" data-ng-model="searchQuery" />
                                        </div>
                                        <div class="loader"></div>
                                    </div>

                                    <!-- навигация -->
                                    <ul class="tabs justified">
                                        <li>
                                            <span class="block" data-ng-class="tabClass('featured')" data-ng-click="selectTab('featured')">Подборка</span>
                                        </li>
                                        <li data-ng-repeat="tab in tabs">
                                            <span class="block" data-ng-class="tabClass(tab.id)" data-ng-click="selectTab(tab.id)">{{ tab.title }}</span>
                                        </li>
                                    </ul>

                                    <!-- список радиостанций -->
                                    <div class="table-wrapper">
                                        <hr class="radio-line" />
                                        <ul class="playlist justified">
                                            <li data-ng-repeat="station in playlist">
                                                <div class="block station-link" data-ng-class="itemClass(station, currentStation())" data-ng-click="selectStation(station)">
                                                    <span class="link">{{ station.title }}</span>
                                                </div>
                                            </li>
                                            <li ng-hide="hasList()" class="ng-cloak not-found">Ничего не найдено</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <!-- Контролы управления -->
                        <td align="center">
                            <table class="controls" width="80%">
                                <tr align="center">
                                    <!--td>
                                        <button class="record"></button>
                                    </td-->
                                    <td>
                                        <button class="back" data-ng-disabled="!previousStation()" data-ng-click="selectStation(previousStation())"></button>
                                    </td>
                                    <td>
                                        <button class="pause" data-ng-click="stop()" data-ng-show="isPlaying()"></button>
                                        <button class="play" data-ng-click="play()" data-ng-hide="isPlaying()" data-ng-disabled="!currentStation()"></button>
                                    </td>
                                    <td>
                                        <button class="random" data-ng-click="selectRandomStation()"></button>
                                    </td>
                                    <!--td>
                                        <div class="volume-wrapper" data-ng-class="{muted: isMuted()}">
                                            <button class="volume" data-ng-click="toggleMute()"></button>
                                            <div class="volume-slider">
                                                <div class="line">
                                                    <div class="handle" volume="volume" on-change="saveVolume()" volume-handle></div>
                                                </div>
                                                <div class="volume-icon" data-ng-click="toggleMute()"></div>
                                            </div>
                                        </div>
                                    </td-->
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>

                        <!-- Мое избранное -->
                        <td class="favorites-cell"><div class="favorites" data-ng-controller="FavoritesCtrl">
                            <div class="favorites-inner">
                                <ul class="favorites-list justified">
                                    <li data-ng-repeat="station in getFavorites()">
                                        <div class="block" data-ng-class="itemClass(station, currentStation())" data-ng-click="selectStation(station)">
                                            {{ station.title }} <i class="remove" data-ng-click="remove(station.id)"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="signage"></div>
                            </div>
                        </div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom">
        <table class="inner">
            <tr>
                <td class="bottom-left"></td>
                <td class="bottom-line"></td>
                <td class="bottom-right"></td>
            </tr>
        </table>
    </div>
</div>
{{% endblock %}}

{{% block scripts %}}
    <script src="/static/js/player.js"></script>
    <script src="/static/js/common/ui-transition.js"></script>
    <script src="/static/js/common/ui-animate.js"></script>
{{% endblock %}}
