{{% extends "layout.html" %}}

{{% block title %}}Радиоплеер{{% endblock %}}

{{% block description %}}Включи музыку для любимого дела.{{% endblock %}}

{{% block top_content %}}
    {# шаблон индикатора загрузки на CSS3 #}
    <script type="text/ng-template" id="/loader.html">
        <div id="floatingBarsG">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
        </div>
    </script>
{{% endblock %}}

{{% block topline %}}
    <div class="menu-item side-item">
        <p ng-hide="user.isLogged()">
            <a href="/login">Войти с паролем</a>
            <a href="/signup">Стать постоянным слушателем</a>
        </p>
        <p ng-show="user.isLogged()">
            <span class="pseudo-link" ng-click="logout()">выйти</span>
        </p>
    </div>
{{% endblock %}}

{{% block content %}}
<div class="radio ng-cloak">
    <table class="top">
        <tr>
            <td class="top-left"></td>
            <td class="top-line"></td>
            <td class="top-right"></td>
        </tr>
    </table>
    <div class="ground">
        <div class="ground-shadow">
            <div class="content">
                <table class="radio-box" ng-controller="PlayerCtrl">
                    <tr valign="top">
                        {# минидисплей #}
                        <td width="312px">
                            <div class="display-ground">
                                <div class="display-inner">
                                    <div class="display" ng-controller="DisplayCtrl">
                                        <div ng-show="error">
                                            <p class="title" ng-switch on="error">
                                                <span ng-switch-default>Радио недоступно</span>
                                            </p>
                                        </div>

                                        <div ng-show="needShowRadio()">
                                            <p class="title" ng-class="{starred: isStarred()}" ng-click="star()">
                                                <span class="marquee">{{ currentRadio.title }}</span>
                                                <span class="star"></span>
                                            </p>

                                            <p class="line" ng-show="needShowDesc()">
                                                <span class="marquee">{{ currentRadio.description }}</span>
                                            </p>

                                            <p class="line onair" ng-show="air"
                                               ng-class="{liked: air.favorite}" title="{{ air.title }}">
                                                <span class="marquee">{{ air.title }}</span>
                                            </p>

                                            <div class="buttons">
                                                <button class="display-button" ng-click="showAir()">История эфира</button>
                                            </div>
                                        </div>

                                        <div class="clock" clock="needShowClock"></div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        {# плейлист #}
                        <td rowspan="3">
                            <div class="radio-table" ng-init='genres={{{ genres|json }}}'>
                                <div class="table-inner" ng-controller="PlaylistCtrl" ng-init="initTabs()">
                                    <div class="group">
                                        <div class="search">
                                            <input type="search" placeholder="Поиск" class="search-field" ng-model="searchQuery" />
                                        </div>
                                        <div class="loader"></div>
                                    </div>

                                    {# навигация #}
                                    <ul class="tabs justified">
                                        <li>
                                            <span class="block" ng-class="tabClass('featured')" ng-click="selectTab('featured')">Подборка</span>
                                        </li>
                                        <li ng-hide="isHistoryEmpty()">
                                            <span class="block" ng-class="tabClass('history')" ng-click="selectTab('history')">История</span>
                                        </li>
                                        <li ng-repeat="tab in tabs">
                                            <span class="block" ng-class="tabClass(tab.id)" ng-click="selectTab(tab.id)">{{ tab.title }}</span>
                                        </li>
                                    </ul>

                                    {# список радиостанций #}
                                    <hr class="radio-line" />
                                    <ul class="playlist justified">
                                        <li ng-repeat="radio in playlist">
                                            <a href="/listen/{{ radio.id }}" class="block" ng-class="currentClass(radio)">
                                                <span class="playlist-link">{{ radio.title }}</span>
                                            </a>
                                        </li>
                                        <li ng-hide="hasList()" class="ng-cloak not-found">
                                            <div class="block">Ничего не найдено</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        {# элементы управления #}
                        <td>
                            <table class="controls" ng-controller="PlayerControlsCtrl">
                                <tr>
                                    <td>
                                        <button class="back" ng-click="previousRadio()"></button>
                                    </td>
                                    <td>
                                        <button class="play" ng-click="play()" ng-hide="isPlaying()"></button>
                                        <button class="pause" ng-click="stop()" ng-show="isPlaying()"></button>
                                    </td>
                                    <td>
                                        <button class="random" ng-click="randomRadio()"></button>
                                    </td>
                                    <td>
                                        <div class="vol-wrap">
                                            <div class="vol-line">
                                                <div class="volume-slider"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        {# избранное радио #}
                        <td class="favorites-cell">
                            <div class="favorites" ng-controller="FavoritesCtrl">
                            <div class="favorites-inner">
                                <ul class="favorites-list justified">
                                    <li ng-repeat="radio in getFavorites()">
                                        <a class="block" href="/listen/{{ radio.id }}" ng-class="currentClass(radio)">
                                            {{ radio.title }}
                                        </a>
                                    </li>
                                </ul>
                                <div class="signage" ng-click="showModal()"></div>
                            </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom">
        <table class="inner">
            <tr>
                <td class="bottom-left"></td>
                <td class="bottom-line"></td>
                <td class="bottom-right"></td>
            </tr>
        </table>
    </div>
</div>
<div class="flash-engine" id="flash-player-engine" data-src="/static/swf/player.swf"></div>

{{% endblock %}}

{{% block styles %}}
    <link href="/static/css/loader.css" rel="stylesheet"/>
{{% endblock %}}

{{% block footer %}}
    <li class="item shift" ng-init='stats={{{ stats|json }}}'>
        Играем {{ stats.radio|number }}
        <span ng-pluralize count="stats.radio"
              when="{one: 'радиостанцию', few: 'радиостанции', many: 'радиостанций'}"></span> без выходных.
    </li>
    {{% if config.PRODUCTION %}}
    <li class="share">
        <script src="//yandex.st/share/share.js"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,lj">
        </div>
    </li>
    {{% endif %}}
{{% endblock %}}


{{% block scripts %}}
    <script type="text/ng-template" id="favorite_radio.html">
        <div modal="favorite-radio" title="Мое Избранное">
            <table class="list">
                <tr ng-repeat="radio in getList()">
                    <td class="ellipsis">{{ radio.title }}</td>
                    <td class="actions"><i class="remove" ng-click="remove(radio.id)"></i></td>
                </tr>
            </table>
            <p ng-show="isEmpty()" class="text-center text-muted">
                В избранном пока ничего нет
            </p>
        </div>
    </script>

    {{% if config.PRODUCTION %}}
        <script src="/static/js/dist/player.js"></script>
    {{% else %}}
        <script src="/static/js/common/swfobject.js"></script>
        <script src="/static/js/common/comet.js"></script>

        <script src="/static/js/common/ui-transition.js"></script>
        <script src="/static/js/common/ui-animate.js"></script>

        <script src="/static/js/sound.js"></script>
        <script src="/static/js/player.js"></script>
    {{% endif %}}
    <script>
        angular.element(document).ready(function(){
            angular.bootstrap(document, ['afm.player']);
        });
    </script>
{{% endblock %}}
