{{% extends "layout.html" %}}

{# {% if radio_details %}}
    {{% block title %}}Радио {{{ radio_details.title }}}{{% endblock %}}
{{% endif %}#}

{{% block top_content %}}
    <div class="modal-back ng-cloak" ng-show="visible" modal-view>
        {{% if radio_details %}}
        {{% include 'radio_details.html' %}}
        {{% endif %}}
    </div>

    {# шаблон индикатора загрузки на CSS3 #}
    <script type="text/ng-template" id="/loader.html">
        <div id="floatingBarsG">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
        </div>
    </script>

    <div class="topline">
        {# TODO: нахера два центройда? #}
        <div class="topline-inner centroid">
            <div class="topmenu">
                <div class="menu-item side-item">
                    <p ng-hide="user.isLogged()">
                        <a href="/login">Войти с паролем</a>
                        <a href="/signup">Стать постоянным слушателем</a>
                    </p>
                    <p ng-show="user.isLogged()">
                        <a ng-click="logout()">выйти</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{% endblock %}}

{{% block content %}}
<div class="radio ng-cloak">
    <table class="top">
        <tr>
            <td class="top-left"></td>
            <td class="top-line"></td>
            <td class="top-right"></td>
        </tr>
    </table>
    <div class="ground">
        <div class="ground-shadow">
            <div class="content">
                <table class="radio-box" ng-controller="PlayerCtrl"
                {{% if radio %}} ng-init='selectRadio({{{ radio.get_public()|json }}})'{{% endif %}}>
                    <tr valign="top">
                        {# минидисплей #}
                        <td width="312px">
                            <div class="display-ground">
                                <div class="display-inner">
                                    <div class="display" ng-controller="DisplayCtrl">
                                        <div ng-show="currentRadio.title">
                                            <p class="title" title="Добавить в избранное"
                                               ng-class="{starred: starred()}" ng-click="star()">
                                                <span class="marquee">{{ currentRadio.title }}</span>
                                                <span class="star"></span>
                                            </p>
                                            <p class="onair" ng-class="{liked: air.favorite}"
                                               ng-click="like()" ng-show="air">
                                                <span class="marquee">{{ air.title }}</span>
                                            </p>
                                            <div class="buttons">
                                                <button class="display-button air">Прямой эфир</button>
                                                <button class="display-button share">Поделиться</button>
                                            </div>
                                        </div>
                                        <div class="clock" clock="currentRadio.title"></div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        {# плейлист #}
                        <td rowspan="3">
                            <div class="radio-table" ng-init='bootstrapGenres={{{ genres|json }}}'>
                                <div class="table-inner" ng-controller="PlaylistCtrl" ng-init="selectTab('featured')">
                                    <div class="group">
                                        <div class="search">
                                            <input type="search" placeholder="Поиск" class="search-field" ng-model="searchQuery" />
                                        </div>
                                        <div class="loader"></div>
                                    </div>

                                    {# навигация #}
                                    <ul class="tabs justified">
                                        <li>
                                            <span class="block" ng-class="tabClass('featured')" ng-click="selectTab('featured')">Подборка</span>
                                        </li>
                                        <li ng-repeat="tab in tabs">
                                            <span class="block" ng-class="tabClass(tab.id)" ng-click="selectTab(tab.id)">{{ tab.title }}</span>
                                        </li>
                                    </ul>

                                    {# список радиостанций #}
                                    <div class="table-wrapper">
                                        <hr class="radio-line" />
                                        <ul class="playlist justified">
                                            <li ng-repeat="radio in playlist">
                                                <div class="block station-link" ng-click="selectRadio(radio)"
                                                     ng-class="currentClass(radio)">
                                                    <span class="link">{{ radio.title }}</span>
                                                </div>
                                            </li>
                                            <li ng-hide="hasList()" class="ng-cloak not-found">
                                                <div class="block">
                                                    Ничего не найдено
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        {# элементы управления #}
                        <td align="center">
                            <table class="controls" width="80%" ng-controller="PlayerControlsCtrl">
                                <tr align="center">
                                    <td>
                                        <button class="record"></button>
                                    </td>
                                    <td>
                                        <button class="back"></button>
                                    </td>
                                    <td>
                                        <button class="play" ng-click="play()" ng-hide="isPlaying()"></button>
                                        <button class="pause" ng-click="stop()" ng-show="isPlaying()"></button>
                                    </td>
                                    <td>
                                        <button class="random" ng-click="randomRadio()"></button>
                                    </td>
                                    <td>
                                        <div class="volume-wrapper" ng-class="{muted: isMuted()}">
                                            <button class="volume" ng-click="toggleMute()"></button>
                                            <div class="volume-slider hidden">
                                                <div class="line">
                                                    <div class="handle" volume="volume" on-change="saveVolume()" volume-handle></div>
                                                </div>
                                                <div class="volume-icon" ng-click="toggleMute()"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        {# избранное радио #}
                        <td class="favorites-cell">
                            <div class="favorites" ng-controller="FavoritesCtrl">
                            <div class="favorites-inner">
                                <ul class="favorites-list justified">
                                    <li ng-repeat="radio in getFavorites()">
                                        <div class="block" ng-click="selectRadio(radio)"
                                             ng-class="currentClass(radio)" ui-animate>
                                            {{ radio.title }} <i class="remove" ng-click="remove(radio.id)"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="signage"></div>
                            </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom">
        <table class="inner">
            <tr>
                <td class="bottom-left"></td>
                <td class="bottom-line"></td>
                <td class="bottom-right"></td>
            </tr>
        </table>
    </div>
</div>
{{% endblock %}}

{{% block styles %}}
    <link href="/static/css/loader.css" rel="stylesheet"/>
{{% endblock %}}

{{% block scripts %}}
    <script src="/static/js/common/swfobject.js"></script>
    <script src="/static/js/common/comet.js"></script>
    <script src="/static/js/base.js"></script>

    <script src="/static/js/common/ui-transition.js"></script>
    <script src="/static/js/common/ui-animate.js"></script>

    <script src="/static/js/sound.js"></script>
    <script src="/static/js/user.js"></script>
    <script src="/static/js/player.js"></script>
    <script>
        angular.element(document).ready(function(){
            angular.bootstrap(document, ['afm.player']);
        });
    </script>
{{% endblock %}}
