{{% if not standalone %}} {{% extends "layout.html" %}} {{% endif %}}
{{% block title %}}
    Добавить радио
{{% endblock %}}
{{% block content %}}
<div class="page centroid">
    <h2>Добавление радио</h2>
    <div data-ng-controller="AddCtrl" class="radio-edit">
        <form name="addForm" ng-submit="add()">
            <dl class="control-group">
                <dt>Название</dt>
                <dd>
                    <input class="text" ng-model="form.title" required="" maxlength="" />
                </dd>
            </dl>
            <dl class="control-group">
                <dt>Ссылка для плеера</dt>
                <dd>
                    <input type="url" class="text" ng-model="form.source_url" required="" />
                    <div class="help">
                        плейлист в формате: pls, m3u, txt<br>
                        или аудиопоток: mp3, aac, aac+
                    </div>
                </dd>
            </dl>
            <dl class="control-group">
                <dt>Описание радио</dt>
                <dd>
                    <textarea class="text" ng-model="form.description" rows="4"></textarea>
                </dd>
            </dl>
            <dl class="control-group">
                <dt>Веб-сайт</dt>
                <dd><input type="url" class="text" ng-model="form.website" /></dd>
            </dl>
            <div class="controls">
                <input type="submit" ng-disabled="addForm.$invalid" class="btn" value="Добавить радио" />
                <p class="error" data-ng-switch on="error.code" data-ng-show="error">
                    <span data-ng-switch-default>Ошибка при обработке запроса.</span>
                </p>
            </div>
        </form>
    </div>
</div>
{{% endblock %}}
{{% block scripts %}}
    <script src="/static/js/radio.js"></script>
{{% endblock %}}
