{{% extends "layout.html" %}}

{{% block content %}}
    <div class="page centroid">
        <div class="content">
            <h1>Радиостанции</h1>
            {{% if current_user.is_authenticated() %}}
            <p><a href="{{{ url_for('radio_admin') }}}">Управление</a></p>
            <p><a href="{{{ url_for('radio_add') }}}">Добавить Радио</a></p>
            {{% endif %}}

            <table class="radio-list">
                {{% for radio in radio_list.limit(10) %}}
                <tr>
                    <td>
                        <h2 class="title">
                            <a href="{{{ url_for('radio_page', radio_id=radio.id) }}}" target="_self" class="link">{{{ radio.title }}}</a>
                        </h2>
                        <p class="description">{{{ radio.description }}}</p>
                    </td>
                </tr>
                {{% endfor %}}
            </table>

        </div>
        <div class="sidebar">
            <ul>
            </ul>
        </div>
    </div>
{{% endblock %}}
