<div modal="radio" title="{{{ radio.title }}}">
    <p class="desc">{{{ radio.description }}}</p>

    <p>История эфира:</p>

    <table class="air-history">
        {{% for group in history|groupby('natural_day') %}}
            <tr>
                <td colspan="2">{{{ group.grouper }}}</td>
            </tr>
            {{% for air in group.list %}}
            <tr>
                <td class="time">{{{ air.time.strftime('%H:%M') }}}</td>
                <td>{{{ air.title }}}</td>
            </tr>
            {{% endfor %}}
        {{% endfor %}}
    </table>

</div>