{{% extends "layout.html" %}}

{{% block title %}}
    Управление жанрами
{{% endblock %}}

{{% block content %}}
    <div class="page centroid" ng-controller="EditGenresCtrl">
        <h1>Управление жанрами</h1>
        <input type="search" class="text" ng-model="searchQuery" placeholder="быстрый поиск" />
        <input type="button" class="btn" ng-disabled="saving" value="Сохранить" ng-click="save()" />
        <input type="button" class="btn" value="Сброс" ng-click="reset()" />

        <table class="genres-edit">
            <tr ng-repeat="genre in genres|filter:searchQuery|orderBy:'id'">
                <td><input type="checkbox" id="genre_{{ genre.id }}" ng-model="genre.is_public"></td>
                <td ng-class="{private:!genre.is_public}">
                    <inline-edit model="genre.title"></inline-edit>
                </td>
            </tr>
        </table>
    </div>
{{% endblock %}}

{{% block scripts %}}
    <script src="/static/js/radio.js"></script>
{{% endblock %}}

