<div modal="radio" title="{{{ radio.title }}}">
    {{% if current_air %}}
    <p>Прямо сейчас: {{{ current_air.title }}}</p>
    {{% endif %}}

    <div class="" ng-controller="AirHistoryCtrl">
        <h2>История эфира</h2>
        <table class="air-history">
            {{% for group in history|groupby('natural_day')|sort(attribute='grouper', reverse=True) %}}
                <tr>
                    <td colspan="2"><h3>{{{ group.grouper }}}</h3></td>
                </tr>
                {{% for air in group.list|sort(attribute='time', reverse=True) %}}
                <tr>
                    <td class="time">{{{ air.time.strftime('%H:%M') }}}</td>
                    <td class="title">{{{ air.title }}}</td>
                </tr>
                {{% endfor %}}
            {{% endfor %}}
        </table>
    </div>
</div>