{{% if not standalone %}} {{% extends "layout.html" %}} {{% endif %}}
{{% block title %}}
    Мое Радио
{{% endblock %}}
{{% block content %}}
    <div class="page centroid">
        <h1>Мое Радио</h1>
        <p><a href="{{{ url_for('radio_add') }}}" class="link">добавить</a></p>
        <table class="radio-admin-table radio-list">
            {{% for radio in radio_list %}}
            <tr>
                <td>
                    <h2 class="title">
                        <a href="{{{ url_for('radio_page', radio_id=radio.id) }}}">
                        {{{ radio.title or '(unknown)' }}}
                        </a>
                    </h2>
                    <p class="description">{{{ radio.description }}}</p>
                </td>
                <td class="controls">
                    <p>
                        <a href="{{{ url_for('radio_edit', radio_id=radio.id) }}}">управление</a>
                    </p>
                </td>
            </tr>
            {{% endfor %}}
        </table>
    </div>
{{% endblock %}}
{{% block scripts %}}
    <script src="/static/js/radio.js"></script>
{{% endblock %}}