<style type="text/css">
    .wrap {
        width: 66%;
        margin: 0 auto;
    }

    .playlist-link {
        text-decoration: none;
        border-bottom: 1px dotted gray;
    }
</style>
<body>
<div class="wrap">
<table>
    <tr>
        <td>
            <select name="" id="">
                <option value="">Again.FM</option>
                <option value="">DI.FM</option>
            </select>

        </td>
        <td width="500px" align="right">
            <button>+ add radio</button>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <p>
            <a href="/radio/1/playlist" class="playlist-link">Madonna - Fallen Love</a><br />
            320 кб/с. 2 500 слушателей.
            </p>
        </td>
        <td><button>remove</button><button>[ шестеренка ]</button></td>
    </tr>

    <tr>
        <td>
            http://proxy-url/
        </td>
        <td><button>remove</button><button>disable</button></td>
    </tr>
</table>

<h2>Управление потоком (шестеренка)</h2>
<p>129 Mbps, <button>выключить</button></p>

<h2>Плейлист</h2>
<p><button>плей</button> Madonna - Trackname [перетаскивается drag'n'drop] <button>удалить</button></p>


</div>
</body>
