<script type="text/javascript">
    var _gaq = [
        ['_setAccount', 'UA-21858820-1'],
        ['_setDomainName', 'again.fm'],
        ['_setAllowLinker', true],
        ['_setSiteSpeedSampleRate', 100],
        ['_trackPageview']
    ];
    $script('//google-analytics.com/ga.js');
</script>

<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter18922339 = new Ya.Metrika({id:18922339,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
            } catch(e) { }
        });
        $script('//mc.yandex.ru/metrika/watch.js');
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/18922339" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
