<!DOCTYPE html>
<html ng-app="afm">
<head>
    <title>v2</title>
    <link href="/static/css/normalize.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <meta name="fragment" content="!" />
</head>
<body>

<div class="topline" ng-init="showTracks=true">
    <div class="topline-inner centroid">
        <table class="topmenu centroid">
            <tr>
                <td width="20%">
                    <a ng-click="showTracks=!showTracks">Любимые треки и эфиры</a>
                </td>
                <td>
                    <a href="">Добавить радио</a>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</div>

<table class="roof centroid">
    <tr>
        <td>
            <img src="/static/i/logo.png" class="logo" />
        </td>
        <td>

        </td>
        <td align="right">
            <p>Сейчас на линии всего 10 493 человека. <a href="#">Рассказать в социалочки!</a></p>
        </td>
    </tr>
</table>

<div class="page centroid">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi&nbsp;eros, elementum vel facilisis sed, commodo quis arcu. Nullam imperdiet, metus vel ultricies viverra, ante enim laoreet nunc, vehicula rutrum eros nunc quis nisl. Nullam ultricies tempor dictum. Donec fringilla dui non enim viverra auctor. Cras scelerisque pellentesque lacus, hendrerit mattis mauris ullamcorper vitae. Nam convallis, tortor sit amet egestas commodo, felis lectus molestie mi, ac&nbsp;interdum velit massa a&nbsp;sapien. Aenean nisl magna, consectetur a&nbsp;placerat id, vulputate at&nbsp;quam.</p>
    <p>Donec pretium, arcu a&nbsp;condimentum egestas, eros augue blandit diam, vitae luctus mauris enim a&nbsp;ipsum. Nunc tincidunt, orci in&nbsp;interdum viverra, eros massa aliquet lorem, sit amet auctor orci quam sed sem. Nulla tincidunt ullamcorper adipiscing. Donec bibendum diam non dui commodo in&nbsp;faucibus nisi adipiscing. Ut&nbsp;facilisis risus eu&nbsp;eros molestie mollis. Vestibulum purus massa, scelerisque at&nbsp;elementum ultrices, molestie at&nbsp;est. Donec elementum lectus a&nbsp;quam porttitor id&nbsp;dapibus urna sollicitudin.</p>
    <p><input type="text" value="Text" /></p>
    <p><input type="text" placeholder="Placeholder" /></p>
    <p><input type="text" value="Disabled" disabled="disabled" /></p>
</div>

<div class="footer centroid">
    <div class="container">
        <p>Made in China (更壞)</p>
    </div>
</div>

</body>
</html>