<!DOCTYPE html>
<html>
<head>
    <title>v2</title>
    <link href="/static/css/normalize.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <div class="container">
            <form class="login">
                <input class="field" type="text" name="email" />
                <input class="field" type="password" name="password" />
                <input type="submit" value="Поехали!" />
                или войти через
                <button class="login__button-fb">Фейсбук</button>
                <button class="login__button-vk">ВКонтакте</button>
                <button class="login__button">...</button>
            </form>
            <a class="pull-right" href="http://play.again.fm/">Вещать свою музыку</a>
        </div>
    </div>
    <div class="container">
        <div class="main-top">
            <p class="pull-right">Сейчас на линии всего 10 493 человека. <a href="#">Рассказать в социалочки</a>!</p>
        </div>

        <div class="radio">
            <div class="top">
                <div class="top-left"></div>
                <div class="top-right"></div>
                <div class="top-line"></div>
            </div>

            <div class="side">
                <div class="left-side"></div>
                <div class="right-side"></div>
            </div>

            <div class="content">
                <div class="inner">
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                </div>
            </div>

            <div class="bottom">
                <div class="bottom-left"></div>
                <div class="bottom-right"></div>
                <div class="bottom-line"></div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container">
        <p>Сделано в России</p>
        </div>
    </div>
    <script src="/static/js/angular.js"></script>
</body>
</html>