<!DOCTYPE html>
<html>
<head>
    <title>v2</title>
    <link href="/static/css/normalize.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <!--div class="header">
        <div class="container">
            <form class="login">
                <input class="field" type="text" name="email" />
                <input class="field" type="password" name="password" />
                <input type="submit" value="Поехали!" />
                или войти через
                <button class="login__button-fb">Фейсбук</button>
                <button class="login__button-vk">ВКонтакте</button>
                <button class="login__button">...</button>
            </form>
            <a class="pull-right" href="http://play.again.fm/">Вещать свою музыку</a>
        </div>
    </div-->
    <div class="container">
        <!--div class="main-top">
            <p class="pull-right">Сейчас на линии всего 10 493 человека. <a href="#">Рассказать в социалочки</a>!</p>
        </div-->

        <!--div class="radio">
            <div class="top">
                <div class="top-left"></div>
                <div class="top-right"></div>
                <div class="top-line"></div>
            </div>

            <div class="side">
                <div class="left-side"></div>
                <div class="right-side"></div>
            </div>

            <div class="content">
                <div class="inner">
                </div>
            </div>

            <div class="bottom">
                <div class="bottom-left"></div>
                <div class="bottom-right"></div>
                <div class="bottom-line"></div>
            </div>
        </div-->

        <div class="radio">
            <table class="top">
                <tr>
                    <td class="top-left"></td>
                    <td class="top-line"></td>
                    <td class="top-right"></td>
                </tr>
            </table>
            <div class="back">
            <div class="back-shadow">
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus ac quam viverra volutpat. Fusce ultrices tincidunt cursus. Ut et leo at nisi pretium fermentum sit amet rhoncus dolor. Nulla id velit a lorem pulvinar consequat ac vel ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras enim ante, facilisis in aliquet non, condimentum vitae libero. Nam luctus luctus dui dignissim vestibulum. Praesent porta tincidunt orci id tempus. Sed a quam non diam dictum iaculis. In malesuada, dui sed tempus elementum, libero elit ultrices nulla, non vestibulum nibh nunc ut turpis.
                    </p>
                    <p>
                        Integer sodales mauris non quam pellentesque hendrerit. Nullam erat arcu, pretium a tempus venenatis, tincidunt a mi. Cras eget libero vitae risus facilisis rhoncus. Proin ultricies augue eu felis sodales laoreet. Fusce eget tortor non massa gravida scelerisque. Duis non adipiscing nibh. Sed a nunc orci, ac laoreet mauris.
                    </p>
                    <p>
                        Sed id nisl sed ipsum commodo auctor eget sit amet nunc. Fusce auctor tempus urna ut vulputate. Proin ac nibh ac urna imperdiet tincidunt ultricies at dolor. Donec laoreet massa in nibh tristique placerat. Suspendisse et purus at justo porta feugiat. Nunc ante nulla, malesuada non semper et, venenatis tempor quam. Maecenas sed libero magna, ut volutpat mauris. Nullam ante ipsum, semper a tempus id, aliquet ac est. Cras eget diam orci. Curabitur eget leo massa. Vivamus placerat vehicula odio sed placerat. Sed interdum placerat arcu.
                    </p>
                    <p>
                        Phasellus cursus, lacus tempor sollicitudin ullamcorper, dolor lectus varius lorem, id facilisis felis urna vel mi. Donec tincidunt metus at ligula mollis id pulvinar lorem pretium. Nunc iaculis eros ornare mauris tristique at ullamcorper libero convallis. Maecenas laoreet velit eu lectus iaculis ultricies sed non ipsum. Etiam vestibulum, massa vitae posuere ullamcorper, orci metus mattis nulla, et euismod mauris metus vel sem. Vestibulum sollicitudin dui velit, sit amet lobortis purus. Proin vitae molestie arcu. Pellentesque consequat molestie odio a interdum. In id arcu leo, pellentesque interdum enim. Curabitur consectetur nisl nec tellus tincidunt vel rutrum felis porta. Curabitur fringilla feugiat nunc nec euismod. Aenean vitae diam metus. Vivamus nec elit ligula. Cras massa felis, ullamcorper at eleifend ac, interdum pretium nisi.
                    </p>
                    <p>
                        Vestibulum placerat augue semper mi dapibus lobortis. Maecenas a tortor neque, vitae pulvinar turpis. Vestibulum sit amet ipsum turpis. Donec ac est tortor, sed feugiat eros. In ut leo vel nisl accumsan viverra quis id quam. Aliquam imperdiet, arcu vel ornare vulputate, purus metus commodo massa, non tincidunt dolor mi ac sapien. Fusce vitae augue ac sapien accumsan elementum. Duis nec arcu id est venenatis feugiat id a mi. Sed nunc felis, eleifend eu dapibus in, adipiscing at erat. Nunc sodales leo eleifend sapien placerat facilisis. Integer interdum viverra mi, id adipiscing mi tempus at. Etiam cursus, justo id mollis consequat, augue nunc porttitor augue, at bibendum nunc dolor feugiat tellus. Vestibulum vitae turpis sapien.
                    </p>
                    <p>
                        Donec posuere pulvinar dapibus. Praesent urna orci, dapibus vitae imperdiet vel, condimentum eget metus. Nunc at ligula metus, at pretium dolor. Proin ullamcorper commodo mauris, et convallis odio tristique vitae. Mauris varius congue dignissim. Praesent at massa ut tellus rhoncus aliquam quis a urna. Donec pretium libero ut eros faucibus at pulvinar neque mollis.
                    </p>
                    <p>
                        Nunc ut mattis augue. Nullam bibendum, tortor non tempus laoreet, lorem nibh laoreet lectus, ut euismod turpis elit sit amet tortor. Fusce nec ligula vel ipsum tempus suscipit. Fusce vitae purus a lorem aliquet dictum quis et sapien. Nunc laoreet odio eget sapien semper placerat fringilla nunc commodo. Quisque et magna a neque suscipit placerat at ac tellus. Nulla pulvinar, sem sed tincidunt porta, odio nisi tincidunt lectus, vel auctor nisl felis ac mi. Duis ut lectus nulla, vel scelerisque purus. Praesent condimentum hendrerit iaculis. Nulla vel varius diam. Maecenas consectetur molestie odio, ut faucibus mauris laoreet venenatis. Nulla ante ipsum, consequat scelerisque convallis nec, facilisis id justo. Donec dolor tortor, molestie ut faucibus id, dignissim ac nunc. Curabitur a ornare lacus. Integer venenatis cursus blandit. Integer erat diam, imperdiet sit amet mattis non, adipiscing tempor nibh.
                    </p>
                    <p>
                        Proin arcu neque, rutrum eget sollicitudin et, vehicula quis neque. In risus quam, dictum ut volutpat posuere, tincidunt id ligula. Aliquam vel nunc orci. Vivamus augue lorem, mattis eget iaculis at, fringilla a quam. Pellentesque dignissim pulvinar justo in euismod. Quisque a quam ut massa laoreet aliquam id sed neque. Nullam ac convallis lacus. Suspendisse odio purus, imperdiet ut tempus sit amet, aliquet non arcu. Nunc mattis tincidunt gravida. Mauris non felis nunc. Nunc tempor enim eget massa venenatis lobortis.
                    </p>
                    <p>
                        Integer id augue a orci pulvinar gravida in nec justo. Nam sollicitudin pretium pulvinar. Donec nec urna at metus malesuada adipiscing. Praesent vehicula ultrices arcu, id iaculis turpis volutpat at. Quisque cursus malesuada tellus ut mollis. Donec eu leo neque. Nam consectetur felis eu turpis dignissim rhoncus. Sed varius, sapien in sodales porta, eros velit rhoncus odio, non rhoncus mi nisi sit amet sapien. Nulla eget quam eget risus pellentesque tincidunt. Suspendisse tempor dolor at enim pellentesque ultricies sed in arcu. Cras sit amet ligula est. Suspendisse posuere dictum mollis.
                    </p>
                    <p>
                        Sed accumsan iaculis neque nec pretium. Duis ac augue elit, a suscipit nibh. Vestibulum vitae egestas ligula. Phasellus id orci in quam pellentesque interdum. Nunc venenatis consequat orci. Aenean id ligula massa. Cras vitae quam ut diam auctor bibendum. Donec eget nunc eget ligula tincidunt interdum. Morbi sem arcu, laoreet eu egestas vitae, luctus at velit. Phasellus rhoncus, sem id dapibus congue, sapien est congue sapien, ut lobortis nisi leo at urna. Proin blandit vestibulum mauris non dignissim. Fusce mauris ligula, tincidunt sed pharetra ac, dignissim ac enim. In nulla nisi, porta a commodo at, hendrerit quis nibh.
                    </p>
                </div>
            </div>
            </div>
            <div class="bottom">
            <table class="inner">
                <tr>
                    <td class="bottom-left"></td>
                    <td class="bottom-line"></td>
                    <td class="bottom-right"></td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
        <p>Сделано в России</p>
        </div>
    </div>
    <script src="/static/js/angular.js"></script>
</body>
</html>