<!DOCTYPE html>
<!--[if IE]><html class="no-js ie" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if !IE]><!--><html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>{{ sitename }}</title>
    <meta name="description" content="{{ _('site.description') }}"/>
    <link href="/static/css/screen.css" rel="stylesheet"/>
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/i/favicon.ico"/>
    <meta name="og:title" content="Again.FM" />
    <meta name="og:description" content="Тёплый ламповый радиоплеер" />
    <meta name="og:url" content="http://again.fm/" />
    <meta name="og:image" content="http://again.fm/static/i/social-logo.png" />
</head>
<body>

<div class="wrapper">
    <div class="top-box hidden"></div>
    <div class="panel-box"></div>
    <div class="main">
        <div class="wrapper-left">
            <div class="wrapper-left-content">
                <img src="/static/i/logo_rus.png" width="308" height="135" class="logo" alt="logo"/>

                <div class="radio-controls">
                    <div class="radio-control valign">
                        <span class="prev"></span>
                    </div>
                    <div class="radio-control">
                        <span class="power"></span>
                        <!-- плеер поверх кнопки для активации при заблокированном флеше -->
                        <div class="flash-player" id="flash-player"></div>
                    </div>
                    <div class="radio-control valign">
                        <span class="next"></span>
                    </div>
                    <div class="radio-controls-status">
                        <div class="inner">
                            <div class="sound"></div>
                            <div class="slider"></div>
                            <div class="hd hidden">HD</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-right">
            <div class="wrapper-right-content">
                <div class="box-holder">
                    <form class="head-form login"></form>
                    <div class="user-profile hidden"></div>
                </div>
                <div class="radio-sticker"></div>
            </div>
        </div>

        <div class="wrapper-wide">
            <div class="radio-display">
                <div class="radio-display-head">
                    <ul class="filters"></ul>
                    <div class="search">
                        <div class="search-icon"></div>
                        <input type="text" placeholder="{{ _('search.placeholder') }}" autocomplete="off"
                               class="search-input" name="q"/>
                        <i class="clear-icon"></i>
                        <div class="search-popup"></div>
                    </div>
                </div>
            </div>
            <div class="radio-scroll">
                <div class="radio-scale viewport">
                    <div class="scale-inner overview"></div>
                </div>
                <div class="scrollbar">
                    <div class="track">
                        <div class="thumb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-guard"></div>
</div>

<div class="footer">
    <div class="feedback-box hidden">
        <div class="answer">{{ _('feedback.title') }}</div>
        <div class="answer answer-complete hidden">{{ _('feedback.tnx') }}</div>
        <div class="question">
            <form>
                <textarea name="text"></textarea>
                <input type="text" name="email" placeholder="{{ _('feedback.email') }}" />
                <input type="submit" value="{{ _('feedback.send') }}" />
            </form>
            <div class="close"></div>
        </div>
    </div>
    <div class="left">
        <p class="left-shift">
            &copy; 2012 &laquo;Again.FM&raquo; &middot; {{ _('site.footer.made_in') }}
            &middot; <span class="pseudo-link about">{{ _('site.footer.about') }}</span>
            &middot; <span class="pseudo-link feedback">{{ _('site.footer.feedback') }}</span>
        </p>
    </div>
    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="http://again.fm/" data-via="againfm" data-lang="en"
           data-text="Тёплый ламповый радиоплеер">Tweet</a>
        <div id="vk-like"></div>
    </div>
</div>

<div id="player-container"></div>
<canvas id="spectrum"></canvas>

<script>
    {# словарь мультиязычности #}
    var App = App || {};
    App.i18n_dict = {{ bootstrap.i18n|safe }};
    App.debug = {{ config.DEBUG|tojson }};
    App.comet_url = {{ config.COMET_URL|tojson|safe }};
    // console noop for old browsers
    (function(global) {
        var noop = function(){};
        if ( !global['console'] ) {
            var methods = 'log debug info warn error assert clear dir dirxml trace group groupCollapsed ';
            methods += 'groupEnd time timeEnd profile profileEnd count exception table';
            methods = methods.split(' ');
            global.console = {};
            for (var i=0; i<methods.length; i++) {
                global.console[methods[i]] = noop;
            }
        }
    })(window);
</script>

{% assets "core_scripts" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "scripts" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    $(function () {
        $.fn.button.defaults = App.i18n('button');
        $.watermark.options.className = 'placeholder';
        App.user.set({{ bootstrap.user|json|safe }});
        App.radioDisplay.setGenres({{ bootstrap.display.genres|json|safe }});
        App.radioDisplay.selectors.get(App.user.isLogged() ? 'favorite' : 'featured').select();
        new App.RadioRouter();
        {% if radio %}
        App.mediator.trigger('radio:play', {{ radio|json|safe }});
        {% endif %}
        Backbone.history.start({pushState: false});
    });
</script>

{% if not config.DEBUG %}
    <script>
        $(function(){
            VK.init({apiId: 3183069, onlyWidgets: true});
            VK.Widgets.Like('vk-like', {type: 'mini'});
        });
    </script>
    <script src="https://platform.twitter.com/widgets.js" id="twitter-wjs"></script>
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
{% endif %}

{% if config.GA %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    {% for key, val in config.GA.items() %}
    _gaq.push([{{ key|json|safe }}, {{ val|json|safe }}]);
    {% endfor %}

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}
</body>
</html>


